<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>智汇玉龙-管理后台</title>
    <meta name="Keywords" content="智汇玉龙,管理后台"/>
    <meta name="Description" content="智汇玉龙管理后台"/>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/layui/css/layui.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet"/>
    <link href="assets/css/common.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img class="logoimg" src="assets/img/logo.png" alt="">
                <img class="logotxt" src="assets/img/logo-text.png" alt="">
            </a>
        </div>
        <div class="header-left">
            <i class="fa fa-outdent"></i>
        </div>
        <div class="header-right">

            <a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
            <a href="javascript:;"><img src="assets/img/home.png"></a>
            <a href="javascript:;"><img src="assets/img/home02.png"></a>
            <a href="javascript:;"><img src="assets/img/home-return.png"></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="index.html"><i class="fa fa-desktop"></i><em>管理控制台</em></a>
                </li>
                <li>
                    <a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>关于我们</em></a>
                </li>
                <li>
                    <a><i class="fa fa-stack-overflow"></i><em>平台基础设置</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="banner.html"><em>banner图管理</em></a>
                        </li>
                        <li>
                            <a href="notice.html"><em>公告管理</em></a>
                        </li>
                        <li>
                            <a href="ads.html"><em>APP广告页管理</em></a>
                        </li>
                        <li>
                            <a href="card.html"><em>玉龙卡管理</em></a>
                        </li>
                        <li>
                            <a href="user-rate.html"><em>会员等级管理</em></a>
                        </li>
                        <li>
                            <a href="chat.html"><em>聊天室管理</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-outdent"></i><em>提现管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="chamberWithdraw.html"><em>商会提现</em></a>
                        </li>
                        <li>
                            <a href="shoper-withdraw.html"><em>商户提现</em></a>
                        </li>
                        <li>
                            <a href="user-withdraw.html"><em>用户提现</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-bank"></i><em>收益管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="rate.html"><em>分润设置</em></a>
                        </li>
                        <li>
                            <a href="income.html"><em>平台收益明细</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-cart-plus"></i><em>平台商城管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="category.html"><em>分类管理</em></a>
                        </li>
                        <li>
                            <a href="goods.html"><em>商品列表管理</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="order-before.html"><i class="fa fa-print"></i><em>订单管理</em><span
                            class="fa arrow"></span></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-bar-chart"></i><em>财务统计</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="sys-shop-data.html"><em>平台商城数据</em></a>
                        </li>
                        <li>
                            <a href="chamber-data.html"><em>商会数据</em></a>
                        </li>
                        <li>
                            <a href="shop-data.html"><em>商户数据</em></a>
                        </li>
                        <li>
                            <a href="order-statistic.html"><em>订单统计</em></a>
                        </li>
                        <li>
                            <a href="goods-statistic.html"><em>产品统计</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-users"></i><em>商会管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="chamber.html"><em>商会列表</em></a>
                        </li>
                        <li>
                            <a href="recommend.html"><em>商会推荐商户列表</em></a>
                        </li>
                        <li>
                            <a href="chamber-apply.html"><em>商会入驻申请</em></a>
                        </li>
                        <li>
                            <a href="user-apply.html"><em>个人入会申请</em></a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="" href="news-index.html"><em>商会动态</em></a>
                        </li>
                        <li>
                            <a href="news-goverment.html"><em>政府资讯</em></a>
                        </li>
                        <li>
                            <a href="news-culture.html"><em>文化旅游</em></a>
                        </li>
                        <li>
                            <a href="news-local.html"><em>本地新闻</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-user"></i><em>商户及用户管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="shoper.html"><em>商户管理</em></a>
                        </li>
                        <li>
                            <a href="user.html"><em>用户管理</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-play-circle"></i><em>视频管理</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="live.html"><em>直播管理</em></a>
                        </li>
                        <li>
                            <a href="video.html"><em>点播管理</em></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-cubes"></i><em>系统与数据</em><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="database.html"><em>数据库管理</em></a>
                        </li>
                        <li>
                            <a href="log.html"><em>系统日志</em></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12 nav-topdown">
                    <!-- <h1 class="page-head-line">DASHBOARD</h1> -->
                    <!-- <h1 class="page-subhead-line"></h1> -->
                    <p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">视频管理</a> ><a
                            href="internet-banner.html">点播管理</a> > <a href="#">添加点播</a></p>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row page">
                <div class="col-md-12 page-tit">
                    <p>添加点播</p>
                </div>

                <div class="col-md-12 page-block">
                    <form class="row layui-form" action="">

                        <div class="block-con col-xs-12">
                            <label class="col-md-12 col-xs-12">
                                <span class="col-md-1_5 col-xs-12">视频名称</span>
                                <div class="col-md-10_5 col-xs-12">
                                    <input class="form-control col-md-5" type="text" name="name" id=""
                                           placeholder="视频名称" lay-verify="required"/>
                                    <b class="col-md-8"></b>
                                </div>
                            </label>
                            <label class="col-md-12 col-xs-12">
                                <span class="col-md-1_5 col-xs-12">点播封面</span>
                                <div class="col-md-10_5 col-xs-12">
                                    <input class="form-control col-md-5 logopath" type="text" name="logopath" id=""
                                           placeholder="编辑图片" lay-verify="required"/>
                                    <div class="layui-upload col-md-8" id="layerDemo">
                                        <button type="button" class="layui-btn btn-blue chooseimg" id="chooseimg"
                                                data-method="notice">选择站内图片
                                        </button>
                                        <button type="button" class="layui-btn btn-bgfff" id="uploadlogo"><img
                                                src="assets/img/upload.png">本地上传图片
                                        </button>
                                    </div>
                                </div>
                            </label>
                            <label class="col-md-12 col-xs-12">
                                <span class="col-md-1_5 col-xs-12">上传视频</span>
                                <div class="col-md-10_5 col-xs-12">
                                    <input class="form-control col-md-5 logopath" type="text" name="logopath" id=""
                                           placeholder="编辑视频" lay-verify="required"/>
                                    <div class="layui-upload col-md-8" id="layerDemo">
                                        <button type="button" class="layui-btn btn-blue chooseimg" id="chooseimg"
                                                data-method="notice">选择站内视频
                                        </button>
                                        <button type="button" class="layui-btn btn-bgfff" id="uploadlogo"><img
                                                src="assets/img/upload.png">本地上传视频
                                        </button>
                                    </div>
                                </div>
                            </label>
                            <label class="col-md-12 col-xs-12">
                                <span class="col-md-1_5 col-xs-12">排序</span>
                                <div class="col-md-10_5 col-xs-12">
                                    <input class="form-control col-md-5" type="text" name="domainName" id="" value="1"
                                           lay-verify="required"/>
                                    <b class="col-md-8"></b>
                                </div>
                            </label>
                        </div>

                        <div class="block-con col-xs-12">
                            <label class="col-md-12 col-xs-12">
                                <span class="col-md-1_5 col-xs-12"></span>
                                <div class="col-md-10_5 col-xs-12">
                                    <input class="btn btn-sm btn-blue" type="submit" value="提交" lay-submit=""
                                           lay-filter="example"/>
                                </div>
                            </label>
                        </div>

                    </form>
                </div>
            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <!-- 弹窗 -->
    <div class="internetimg">
        <div class="inter-show">
            <a class="imgs" data-id="1">
                <img src="assets/img/document.png">
            </a>
            <a class="imgs" data-id="2">
                <img src="assets/img/document.png">
            </a>
            <a class="imgs" data-id="3">
                <img src="assets/img/document.png">
            </a>
            <a class="imgs" data-id="4">
                <img src="assets/img/document.png">
            </a>
            <a class="imgs" data-id="5">
                <img src="assets/img/document.png">
            </a>
            <a class="imgs" data-id="6">
                <img src="assets/img/document.png">
            </a>
        </div>
        <!-- inter-show END -->
        <div class="inter-level">
            <a class="imgs return">
                <img src="assets/img/return.png">
            </a>
            <a class="imgs">
                <img src="assets/img/test/test1.jpg">
            </a>
            <a class="imgs">
                <img src="assets/img/test/test2.jpg">
            </a>
            <a class="imgs">
                <img src="assets/img/test/test3.jpg">
            </a>
            <a class="imgs">
                <img src="assets/img/test/test4.jpg">
            </a>
            <a class="imgs">
                <img src="assets/img/test/test5.jpg">
            </a>
        </div>
        <!-- inter-level END -->
    </div>
    <!-- 弹窗结束 -->

    <div id="footer-sec">
        <p>Copyright © 2019 几度CMS版权所有</p>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/layui/layui.all.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/common.js"></script>

    <script type="text/javascript">
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;


            //自定义验证规则
            form.verify({
                links: function (value, item) {
                    let checked = false;
                    var names = $(item).attr('name')
                        , contents = $(item).parents('form').find('input[name=' + names + ']')
                        , verifyType = $(item).attr('type')
                        , focusElem = contents.next().find('i.layui-icon');//焦点元素
                    contents.each(function (i) {
                        checked = checked || $(this)[0].checked;
                    })
                    if (checked == false) {
                        //定位焦点
                        focusElem.css(verifyType == 'radio' ? {"color": "#FF5722"} : {"border-color": "#FF5722"});
                        //对非输入框设置焦点
                        focusElem.first().attr("tabIndex", "1").css("outline", "0").blur(function () {
                            focusElem.css(verifyType == 'radio' ? {"color": ""} : {"border-color": ""});
                        }).focus();
                        return '必填项不能为空'
                    }
                }
            })


            //监听提交
            form.on('submit(example)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });

        });
        /**/
    </script>
    <script type="text/javascript">
        let myimg = '', myimg1 = '';

        layui.use('upload', function () {
            var $ = layui.jquery
                , upload = layui.upload;

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#uploadlogo'
                , url: '/upload/'
                , choose: function (obj) {
                    //将每次选择的文件追加到文件队列
                    var files = obj.pushFile();
                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function (index, file, result) {
                        // console.log(index); //得到文件索引
                        console.log(file.name); //得到文件对象
                        // console.log(result); //得到文件base64编码，比如图片
                        //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增
                        //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                        //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                        $('.logopath').val(file.name)
                    });
                }
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        myimg = result;
                        // $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });

            //副图片上传
            var uploadInst = upload.render({
                elem: '#uploadlogo1'
                , url: '/upload/'
                , choose: function (obj) {
                    //将每次选择的文件追加到文件队列
                    var files = obj.pushFile();
                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function (index, file, result) {
                        // console.log(index); //得到文件索引
                        //console.log(file.name); //得到文件对象
                        // console.log(result); //得到文件base64编码，比如图片
                        //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增
                        //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                        //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                        $('.logopath1').val(file.name)
                    });
                }
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        myimg1 = result;
                        //$('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
        });

        //弹窗
        layui.use('layer', function () {
            var $ = layui.jquery, layer = layui.layer;

            // 弹窗内点击选择
            $('.internetimg .imgs').click(function () {
                if (!(/document/.test($(this).find('img').attr('src'))) && !(/return/.test($(this).find('img').attr('src')))) {
                    $(this).addClass('active').siblings().removeClass('active');
                }
                event.stopPropagation();//阻止事件冒泡
            })
            $('.internetimg').click(function () {//相当于blur,点击以外的部分取消选择
                $('.internetimg .imgs').each(function () {
                    $(this).removeClass('active')
                })
            })

            // 站内选择
            $('.inter-show .imgs').dblclick(function () {
                var ids = $(this).attr('data-id');
                $('.inter-show').hide().next().show();
                $('.inter-level').attr('data-id', ids);
                console.log($('.inter-level').attr('data-id'))
            });
            // 返回
            $('.internetimg .imgs.return').click(function () {
                $('.inter-show').show().next().hide();
            })

            //触发事件
            var active = {
                notice: function () {
                    //示范一个公告层
                    layer.open({
                        type: 1
                        , title: false //不显示标题栏
                        , closeBtn: false
                        , area: 'device-width'
                        , shade: 0.3
                        , resize: false
                        , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        , btn: ['确认', '关闭']
                        , btnAlign: 'c'//按钮居中对齐
                        , moveType: 1 //拖拽模式，0或者1
                        , content: $('.internetimg')
                        , success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            // btn.find('.layui-layer-btn0').attr({
                            //   href: 'http://www.layui.com/'
                            //   ,target: '_blank'
                            // });
                        }
                        , yes: function (index, layero) {
                            console.log('确认')
                            console.log($('.internetimg').find('.active').children().attr('src'))
                            var lengths = $('.internetimg').find('.active').length;
                            if (lengths) {
                                var src = $('.internetimg').find('.active').children().attr('src');
                                $('#layerDemo').siblings('input').val(src);
                                // $('#demo1').attr('src',src);
                                $('.internetimg').css('display', 'none');
                                layer.close(index);
                            } else {
                                layer.msg('您未选中图片！')
                            }
                        }
                        , btn2: function () {
                            console.log('关闭')
                            $('.internetimg').css('display', 'none');
                        }
                    });
                }
            };
            var active1 = {
                notice: function () {
                    //示范一个公告层
                    layer.open({
                        type: 1
                        , title: false //不显示标题栏
                        , closeBtn: false
                        , area: 'device-width'
                        , shade: 0.3
                        , resize: false
                        , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        , btn: ['确认', '关闭']
                        , btnAlign: 'c'//按钮居中对齐
                        , moveType: 1 //拖拽模式，0或者1
                        , content: $('.internetimg')
                        , success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            // btn.find('.layui-layer-btn0').attr({
                            //   href: 'http://www.layui.com/'
                            //   ,target: '_blank'
                            // });
                        }
                        , yes: function (index, layero) {
                            console.log('确认')
                            console.log($('.internetimg').find('.active').children().attr('src'))
                            var lengths = $('.internetimg').find('.active').length;
                            if (lengths) {
                                var src = $('.internetimg').find('.active').children().attr('src');
                                $('#layerDemo1').siblings('input').val(src);
                                // $('#demo1').attr('src',src);
                                $('.internetimg').css('display', 'none');
                                layer.close(index);
                            } else {
                                layer.msg('您未选中图片！')
                            }
                        }
                        , btn2: function () {
                            console.log('关闭')
                            $('.internetimg').css('display', 'none');
                        }
                    });
                }
            };
            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });
            $('#layerDemo1 .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active1[method] ? active1[method].call(this, othis) : '';
            });
        });
    </script>
</body>
</html>
