<!DOCTYPE html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>智汇玉龙-管理后台</title>
   <meta name="Keywords" content="智汇玉龙,管理后台" />
   <meta name="Description" content="智汇玉龙管理后台" />

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/layui/css/layui.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href="assets/css/common.css" rel="stylesheet" />
    <link href="assets/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
            </div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
            <div class="header-right">

                <a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
                <a href="javascript:;"><img src="assets/img/home.png" ></a>
                <a href="javascript:;"><img src="assets/img/home02.png" ></a>
                <a href="javascript:;"><img src="assets/img/home-return.png" ></a>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
        	<div class="sidebar-collapse">
        		<ul class="nav" id="main-menu">
        			<li>
        				<a class="active-menu" href="index.html"><i class="fa fa-desktop"></i><em>管理控制台</em></a>
        			</li>
        			<li>
        				<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>关于我们</em></a>
        			</li>
        			<li>
        				<a><i class="fa fa-stack-overflow"></i><em>平台基础设置</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="banner.html"><em>banner图管理</em></a>
        					</li>
        					<li>
        						<a href="notice.html"><em>公告管理</em></a>
        					</li>
        					<li>
        						<a href="ads.html"><em>APP广告页管理</em></a>
        					</li>
        					<li>
        						<a href="card.html"><em>玉龙卡管理</em></a>
        					</li>
        					<li>
        						<a href="user-rate.html"><em>会员等级管理</em></a>
        					</li>
        					<li>
        						<a href="chat.html"><em>聊天室管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-outdent"></i><em>提现管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="chamberWithdraw.html"><em>商会提现</em></a>
        					</li>
        					<li>
        						<a href="shoper-withdraw.html"><em>商户提现</em></a>
        					</li>
        					<li>
        						<a href="user-withdraw.html"><em>用户提现</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-bank"></i><em>收益管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="rate.html"><em>分润设置</em></a>
        					</li>
        					<li>
        						<a href="income.html"><em>平台收益明细</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-cart-plus"></i><em>平台商城管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="category.html"><em>分类管理</em></a>
        					</li>
        					<li>
        						<a href="goods.html"><em>商品列表管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href="order-before.html"><i class="fa fa-print"></i><em>订单管理</em></a>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-bar-chart"></i><em>财务统计</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="sys-shop-data.html"><em>平台商城数据</em></a>
        					</li>
        					<li>
        						<a href="chamber-data.html"><em>商会数据</em></a>
        					</li>
        					<li>
        						<a href="shop-data.html"><em>商户数据</em></a>
        					</li>
        					<li>
        						<a href="order-statistic.html"><em>订单统计</em></a>
        					</li>
        					<li>
        						<a href="goods-statistic.html"><em>产品统计</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-users"></i><em>商会管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="chamber.html"><em>商会列表</em></a>
        					</li>
        					<li>
        						<a href="chamber-apply.html"><em>商会入驻申请</em></a>
        					</li>
        					<li>
        						<a href="user-apply.html"><em>个人入会申请</em></a>
        					</li>
        				</ul>
        			</li>
        			<li class="">
        				<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a class="" href="news-index.html"><em>商会动态</em></a>
        					</li>
        					<li>
        						<a href="news-goverment.html"><em>政府资讯</em></a>
        					</li>
        					<li>
        						<a href="news-culture.html"><em>文化旅游</em></a>
        					</li>
        					<li>
        						<a href="news-local.html"><em>本地新闻</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-user"></i><em>商户及用户管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="shoper.html"><em>商户管理</em></a>
        					</li>
        					<li>
        						<a href="user.html"><em>用户管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-play-circle"></i><em>视频管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="live.html"><em>直播管理</em></a>
        					</li>
        					<li>
        						<a href="video.html"><em>点播管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href="log.html"><i class="fa fa-cubes"></i><em>系统日志</em></a>
        			</li>
        		</ul>
        	</div>
        </nav>
        
		<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
				
                <div class="row">
                    <div class="col-md-12 nav-topdown">
                      <!-- <h1 class="page-head-line">DASHBOARD</h1> -->
                       <!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">视频管理</a> ><a href="video.html">点播管理</a>  > <a href="#">添加点播</a></p>
                    </div>
                </div>
                <!-- /. ROW  -->
				<div class="row page">
					<div class="col-md-12 page-tit">
						<p>添加点播</p>
					</div>
					
					<div class="col-md-12 page-block">
						<form class="row layui-form" action="">
							
							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">视频名称</span>
									<div class="col-md-10_5 col-xs-12">
										<input class="form-control col-md-5" type="text" name="name" id="" placeholder="视频名称" lay-verify="required"/>
										<b class="col-md-8"></b>
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">点播封面</span>
									<div class="col-md-10_5 col-xs-12">
										<input class="form-control col-md-5 logopath" type="text" name="logopath" id="" placeholder="编辑图片" lay-verify="required"/>
										<div class="layui-upload col-md-8" id="layerDemo">
										  <button type="button" class="layui-btn btn-blue chooseimg" id="chooseimg" data-method="notice">选择站内图片</button>
										  <button type="button" class="layui-btn btn-bgfff" id="uploadlogo"><img src="assets/img/upload.png" >本地上传图片</button>
										</div>
									</div>
                                </label>
                                <!-- <label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">上传视频</span>
									<div class="col-md-10_5 col-xs-12">
										<input class="form-control col-md-5 logopath" type="text" name="logopath" id="" placeholder="编辑视频" lay-verify="required"/>
										<div class="layui-upload col-md-8" id="layerDemo">
										  <button type="button" class="layui-btn btn-blue chooseimg" id="chooseimg" data-method="notice">选择站内视频</button>
										  <button type="button" class="layui-btn btn-bgfff" id="uploadlogo"><img src="assets/img/upload.png" >本地上传视频</button>
										</div>
									</div>
                                </label> -->
                                <label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">排序</span>
									<div class="col-md-10_5 col-xs-12">
										<input class="form-control col-md-5" type="text" name="domainName" id="" value="1" lay-verify="required"/>
										<b class="col-md-8"></b>
									</div>
								</label>
							</div>
							
							<div id="uploader" class="wu-example">
							  <div class="btns" style="float:left;padding-right: 20px">
							    <div id="picker">选择文件</div>
							  </div>
							  <div id="ctlBtn" class="webuploader-pick" @click="upload()">开始上传</div>
							
							</div>
							<!--用来存放文件信息-->
							<div id="thelist" class="uploader-list" >
							  <div v-if="uploadFile.id" :id='uploadFile.id'><span>{{uploadFile.name}}</span>&nbsp;<span class='percentage'>{{percentage}}%</span></div>
							
							</div>
							
							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12"></span>
									<div class="col-md-10_5 col-xs-12">
										<input class="btn btn-sm btn-blue" type="submit" value="提交" lay-submit="" lay-filter="example"/>
									</div>
								</label>
							</div>
							
						</form>
					</div>
				</div>
				
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
       <p>Copyright © 2019 几度CMS版权所有</p>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/layui/layui.all.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/link.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/webuploader-0.1.5/webuploader.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#page-wrapper',
			data: {
				uploader:{},
				uploadFile:{},
				percentage:0,
				fileMd5:'',
				uploadStatus:false//视频上传是否成功
			},
			mounted() {
				this.uploadVideo();
				this.layuis()
			},
			methods:{
				//开始上传
				upload(){
				  if(this.uploadFile && this.uploadFile.id){
				    this.uploader.upload(this.uploadFile.id);
				  }else{
				    alert("请选择文件");
				  }
				},
				// 视频上传
				uploadVideo(){
					let _this = this;
					//      var fileMd5;
					//      var uploadFile;
					  WebUploader.Uploader.register({
						  "before-send-file":"beforeSendFile",
						  "before-send":"beforeSend",
						  "after-send-file":"afterSendFile"
						},{
						  beforeSendFile:function(file) {
							// 创建一个deffered,用于通知是否完成操作
							var deferred = WebUploader.Deferred();
							// 计算文件的唯一标识，用于断点续传
							(new WebUploader.Uploader()).md5File(file, 0, 100*1024*1024)
							  .then(function(val) {
				
								this.fileMd5 = val;
								this.uploadFile = file;
				//                alert(this.fileMd5 )
				
								_this.uploadStatus = false;
								
								//向服务端请求注册上传文件
								$.ajax(
								  {
									type:"POST",
									url: "/media/upload/register",
									headers: {
										'Authorization': sessionid,
									},
									data:{
									  // 文件唯一表示
									  fileMd5:this.fileMd5,
									  fileName: file.name,
									  fileSize:file.size,
									  mimetype:file.type,
									  fileExt:file.ext
									},
									dataType:"json",
									success:function(response) {
									  if(response.success) {
										//alert('上传文件注册成功开始上传');
										deferred.resolve();
									  } else {
										alert(response.message);
										deferred.reject();
									  }
									}
								  }
								);
							  }.bind(this));
				
							return deferred.promise();
						  }.bind(this),
						  beforeSend:function(block) {
							var deferred = WebUploader.Deferred();
							// 每次上传分块前校验分块，如果已存在分块则不再上传，达到断点续传的目的
							$.ajax(
							  {
								type:"POST",
								url: "/media/upload/checkchunk",
								headers: {
									'Authorization': sessionid,
								},
								data:{
								  // 文件唯一表示
								  fileMd5:this.fileMd5,
								  // 当前分块下标
								  chunk:block.chunk,
								  // 当前分块大小
								  chunkSize:block.end-block.start
								},
								dataType:"json",
								success:function(response) {
								  if(response.fileExist) {
									// 分块存在，跳过该分块
									deferred.reject();
								  } else {
									// 分块不存在或不完整，重新发送
									deferred.resolve();
								  }
								}
							  }
							);
							//构建fileMd5参数，上传分块时带上fileMd5
							this.uploader.options.formData.fileMd5 = this.fileMd5;
							this.uploader.options.formData.chunk = block.chunk;
							return deferred.promise();
						  }.bind(this),
						  afterSendFile:function(file) {
							// 合并分块
							$.ajax(
							  {
								type:"POST",
								url: "/media/upload/mergechunks",
								headers: {
									'Authorization': sessionid,
								},
								data:{
								  fileMd5:this.fileMd5,
								  fileName: file.name,
								  fileSize:file.size,
								  mimetype:file.type,
								  fileExt:file.ext
								},
								success:function(response){
								  //在这里解析合并成功结果
								  if(response && response.success){
									  layer.msg('上传成功')
									  _this.uploadStatus = true;
								  }else{
									  layer.msg('上传失败')
								  }
								}
							  }
							);
						  }.bind(this)
						}
					  );
					  // 创建uploader对象，配置参数
					  this.uploader = WebUploader.create(
						{
						  swf:"assets/webuploader-0.1.5/Uploader.swf",//上传文件的flash文件，浏览器不支持h5时启动flash
						  server: "/media/upload/uploadchunk",//上传分块的服务端地址，注意跨域问题
						  headers: {
						  	'Authorization': sessionid,
						  },
						  fileVal:"file",//文件上传域的name
						  pick:"#picker",//指定选择文件的按钮容器
						  auto:false,//手动触发上传
						  disableGlobalDnd:true,//禁掉整个页面的拖拽功能
						  chunked:true,// 是否分块上传
						  chunkSize:1*1024*1024, // 分块大小（默认5M）
						  threads:3, // 开启多个线程（默认3个）
						  prepareNextFile:true// 允许在文件传输时提前把下一个文件准备好
						}
					  );
				
					  // 将文件添加到队列
					  this.uploader.on("fileQueued", function(file) {
						  this.uploadFile = file;
						  this.percentage = 0;
				
						}.bind(this)
					  );
					  //选择文件后触发
					  this.uploader.on("beforeFileQueued", function(file) {
				//     this.uploader.removeFile(file)
						//重置uploader
						this.uploader.reset()
						this.percentage = 0;
					  }.bind(this));
				
					  // 监控上传进度
					  // percentage:代表上传文件的百分比
					  this.uploader.on("uploadProgress", function(file, percentage) {
						  this.percentage = Math.ceil(percentage * 100);
					  }.bind(this));
					  //上传失败触发
					  this.uploader.on("uploadError", function(file,reason) {
						console.log(reason)
						alert("上传文件失败");
					  });
					  //上传成功触发
					  this.uploader.on("uploadSuccess", function(file,response ) {
						console.log(response)
				//        alert("上传文件成功！");
					  });
					  //每个分块上传请求后触发
					  this.uploader.on( 'uploadAccept', function( file, response ) {
						  if(!(response && response.success)){//分块上传失败，返回false
							  return false;
						  }
					  });
					},
					layuis() {
						layui.use(['form', 'layedit', 'laydate'], function(){
						  var form = layui.form
						  ,layer = layui.layer
						  ,layedit = layui.layedit
						  ,laydate = layui.laydate;
						  
						
						   //自定义验证规则
						     form.verify({
						       links: function(value,item){
								   let checked = false;
									var names = $(item).attr('name')
									,contents = $(item).parents('form').find('input[name=' + names + ']')
									 , verifyType=$(item).attr('type')
									,focusElem = contents.next().find('i.layui-icon');//焦点元素
									contents.each(function(i){
										checked = checked || $(this)[0].checked;
									})
									if(checked == false){
										 //定位焦点
										focusElem.css(verifyType=='radio'?{"color":"#FF5722"}:{"border-color":"#FF5722"});
										//对非输入框设置焦点
										focusElem.first().attr("tabIndex","1").css("outline","0").blur(function() {
											focusElem.css(verifyType=='radio'?{"color":""}:{"border-color":""});
										 }).focus();
										return '必填项不能为空'
									}
							   }
							})
						     
						     
						     //监听提交
						     form.on('submit(example)', function(data){
						       layer.alert(JSON.stringify(data.field), {
						         title: '最终的提交信息'
						       })
						       return false;
						     });
						 
						});
						
						layui.use('upload', function(){
						  var $ = layui.jquery
						  ,upload = layui.upload;
						  
						  //普通图片上传
						  var uploadInst = upload.render({
						   elem: '#uploadlogo',
						   url:  '/upload/upload',
						   headers: {
						   	'Authorization': sessionid
						   }
							,choose: function(obj){
							    //将每次选择的文件追加到文件队列
							    var files = obj.pushFile();
							    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
							    obj.preview(function(index, file, result){
							      // console.log(index); //得到文件索引
							      console.log(file.name); //得到文件对象
								  $('.logopath').val(file.name)
							    });
							  }
						    ,before: function(obj){
						      //预读本地文件示例，不支持ie8
						      obj.preview(function(index, file, result){
								  // myimg = result;
						       $('#demo1').attr('src', result); //图片链接（base64）
						      });
						    }
						    ,done: function(res){
						      //如果上传失败
						      if(res.code > 0){
						        return layer.msg('上传失败');
						      }
						      //上传成功
						    }
						    ,error: function(){
						      //演示失败状态，并实现重传
						      var demoText = $('#demoText');
						      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
						      demoText.find('.demo-reload').on('click', function(){
						        uploadInst.upload();
						      });
						    }
						  });
						});
						
						
					}
			}
		})
	</script>
</body>
</html>
