<!DOCTYPE html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>智汇玉龙-管理后台</title>
   <meta name="Keywords" content="智汇玉龙,管理后台" />
   <meta name="Description" content="智汇玉龙管理后台" />

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/layui/css/layui.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href="assets/css/common.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
            </div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
            <div class="header-right">

                <a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
                <a href="javascript:;"><img src="assets/img/home.png" ></a>
                <a href="javascript:;"><img src="assets/img/home02.png" ></a>
                <a href="javascript:;"><img src="assets/img/home-return.png" ></a>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
        	<div class="sidebar-collapse">
        		<ul class="nav" id="main-menu">
        			<li>
        				<a href="index.html"><i class="fa fa-desktop"></i><em>管理控制台</em></a>
        			</li>
        			<li>
        				<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>关于我们</em></a>
        			</li>
        			<li class="active">
        				<a><i class="fa fa-stack-overflow"></i><em>平台基础设置</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="banner.html"><em>banner图管理</em></a>
        					</li>
        					<li>
        						<a href="notice.html"><em>公告管理</em></a>
        					</li>
        					<li>
        						<a class="active-menu" href="ads.html"><em>APP广告页管理</em></a>
        					</li>
        					<li>
        						<a href="user-rate.html"><em>会员等级管理</em></a>
        					</li>
        					<li>
        						<a href="chat.html"><em>聊天室管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-outdent"></i><em>提现管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="chamberWithdraw.html"><em>商会提现</em></a>
        					</li>
        					<li>
        						<a href="shoper-withdraw.html"><em>商户提现</em></a>
        					</li>
        					<li>
        						<a href="user-withdraw.html"><em>用户提现</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-bank"></i><em>收益管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="rate.html"><em>分润设置</em></a>
        					</li>
        					<li>
        						<a href="income.html"><em>平台收益明细</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-cart-plus"></i><em>平台商城管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="category.html"><em>分类管理</em></a>
        					</li>
        					<li>
        						<a href="goods.html"><em>商品列表管理</em></a>
        					</li>
        					<li>
        						<a href="gift.html"><em>礼包专区</em></a>
        					</li>
        					<li>
        						<a href="indexcontrol-master.html"><em>管理员管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href="order-before.html"><i class="fa fa-print"></i><em>订单管理</em></a>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-bar-chart"></i><em>财务统计</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="sys-shop-data.html"><em>平台商城数据</em></a>
        					</li>
        					<li>
        						<a href="chamber-data.html"><em>商会数据</em></a>
        					</li>
        					<li>
        						<a href="shop-data.html"><em>商户数据</em></a>
        					</li>
        					<li>
        						<a href="order-statistic.html"><em>订单统计</em></a>
        					</li>
        					<li>
        						<a href="goods-statistic.html"><em>产品统计</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-users"></i><em>商会管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="chamber.html"><em>商会列表</em></a>
        					</li>
        					<li>
        						<a href="chamber-apply.html"><em>商会入驻申请</em></a>
        					</li>
        				</ul>
        			</li>
        			<li class="">
        				<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a class="" href="news-index.html"><em>商会动态</em></a>
        					</li>
        					<li>
        						<a href="news-goverment.html"><em>时事要闻</em></a>
        					</li>
        					<li>
        						<a href="news-culture.html"><em>文化旅游</em></a>
        					</li>
        					<li>
        						<a href="news-local.html"><em>招商引资</em></a>
        					</li>
							<li>
								<a href="oppo.html"><em>汇商机</em></a>
							</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-user"></i><em>商户及用户管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="shoper.html"><em>商户管理</em></a>
        					</li>
        					<li>
        						<a href="user.html"><em>用户管理</em></a>
        					</li>
        				</ul>
        			</li>
					<li class="">
						<a href="local-service.html"><i class="fa fa-user"></i><em>本地服务</em></a>
					</li>
        			<li>
        				<a href=""><i class="fa fa-play-circle"></i><em>视频管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="live.html"><em>直播管理</em></a>
        					</li>
        					<li>
        						<a href="video.html"><em>点播管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href="log.html"><i class="fa fa-cubes"></i><em>系统日志</em></a>
        			</li>
        		</ul>
        	</div>
        </nav>
        
		<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
				
                <div class="row">
                    <div class="col-md-12 nav-topdown">
                      <!-- <h1 class="page-head-line">DASHBOARD</h1> -->
                       <!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">平台信息设置</a> > <a href="#">APP广告管理</a></p>
                    </div>
                </div>
                <!-- /. ROW  -->
				<div class="row page SEOpage">
					<div class="col-md-12 page-tit">
						<p>APP广告管理</p>
					</div>
					
					<div class="col-md-12 page-block textalign-center th-textalign-center">
						<div class="panel panel-default">
						    <div class="panel-heading textalign-left">
								<!-- addAd.html -->
						        <a class="btn btn-blue btn-sm" @click="add">添加</a>
						    </div>
						    <div class="panel-body">
						        <div class="table-responsive">
						            <table class="table table-hover" v-cloak>
						                <thead>
						                    <tr>
						                        <th><input type="checkbox" name="" id="" value="" /></th>
												<th>ID</th>
						                        <th>资源</th>
						                        <th>操作</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr v-for="(item,index) in bannerList" :key="index">
												<td><input type="checkbox" name="" id="" value="" /></td>
						                        <td>{{item.id}}</td>
						                        <td ><a class="colorblue" href="javascript:;" @click="lookat(item.img,'img')">【预览】</a></td>
												<td>
													<!-- <a class="btn btn-blue btn-sm" href="javascript:;" rowedit>编辑</a> -->
													<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(item.id)">删除</a>
												</td>
						                    </tr>
						                </tbody>
						            </table>
						        </div>
						    </div>
						</div>
					</div>
				</div>
				
            <!-- /. PAGE INNER  -->
			<div class="modules popups displaynone" id="popus" style="padding: 15px;">
				<div class="form-group">
					<label class="col-md-4">资源</label>
					<div class="layui-upload col-md-8" id="layerDemo">
						<button type="button" class="layui-btn btn-bgfff" id="uploadlogo"><img src="assets/img/upload.png">本地上传图片</button>
						<div class="layui-upload-list col-md-12">
							<img class="layui-upload-img" id="demo1">
							<p id="demoText"></p>
						</div>
					</div>
					
				</div>
			</div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
       <p>Copyright © 2020 智汇玉龙版权所有</p>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/layui/layui.all.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/common.js"></script>
	<script src="assets/js/link.js"></script>
	<script src="assets/js/vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#page-wrapper',
			data: {
				searchid: '',
				bannerList: [],
				issearch: false,
				searchList: null,
				editTxt:'',
				editTit:'',
				imgs:''
			},
			created() {
				let _this = this;
				$.ajax({
					url:  '/backstage/appAdvertisement/1/10',
					type: 'GET',
					headers: {
						'Authorization': sessionid,
					},
					success: (res) => {
						_this.bannerList = res.data
						layui.use('laypage', function(){
						  var laypage = layui.laypage;
						  
						  //执行一个laypage实例
						  laypage.render({
						    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
						    ,count: res.total //数据总数，从服务端得到
							,jump: function(obj, first){
							    $.ajax({
							    	url:  '/backstage/appAdvertisement/'+obj.curr+'/10',
							    	type: 'GET',
							    	headers: {
							    		'Authorization': sessionid,
							    	},
							    	success: (res) => {
							    		_this.bannerList = res.rows
							    	},
							    	fail:(res) => {
							    	}
							    })
							    //首次不执行
							    // if(!first){
							    //   //do something
							    // }
							  }
						  });
						});
					},
					fail:(res) => {
					}
				})
			},
			mounted() {
				let _this = this;
				layui.use('upload', function() {
					var $ = layui.jquery,
						upload = layui.upload;
				
					//普通图片上传
					var uploadInst = upload.render({
						elem: '#uploadlogo',
						url:  '/upload/upload',
						headers: {
							'Authorization': sessionid
						},
						accept: 'images',
						choose: function(obj) {
				
							//将每次选择的文件追加到文件队列
							var files = obj.pushFile();
							//预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
							obj.preview(function(index, file, result) {
								console.log(file.name); //得到文件对象
								// $('.logopath').val(file.name)
							});
						},
						before: function(obj) {
							//预读本地文件示例，不支持ie8
							obj.preview(function(index, file, result) {
								$('#demo1').attr('src', result); //图片链接（base64）
							});
						},
						done: function(res) {
							_this.imgs = res.data
						},
						error: function() {
							//演示失败状态，并实现重传
							var demoText = $('#demoText');
							demoText.html(
								'<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
							demoText.find('.demo-reload').on('click', function() {
								uploadInst.upload();
							});
						}
					});
				});
			},
			methods: {
				add() {
					let _this = this;
					layui.use('layer', function(){
					  var layer = layui.layer;
					  
					  layer.open({
						type:1,
						title:'信息',
					    content: $('#popus') ,//这里content是一个普通的String
						area: 'auto',
						btn: ['确定', '取消'],
						yes: function(index, layero){
						    //按钮【按钮一】的回调
							let v = {
							  "img":  _this.imgs
							};
							layer.close(index)
							$('#popus').hide()
							
							$.ajax({
								url:  '/backstage/appAdvertisement',
								type: 'POST',
								contentType: 'application/json',
								headers: {
									'Authorization': sessionid,
								},
								dataType: 'json',
								data: JSON.stringify(v),
								success: (res) => {
									layer.msg(res.message)
									if(res.code == 10000) {
										window.location.reload()
									}
								},
								fail: (err) => {
									layer.msg(err.message)
								}
							})
						  },
						  cancel:function() {
							  $('#popus').hide()
						  }
					  });
					}); 
				},
				del(ids) {
					let _this = this;
					layer.confirm('确定删除吗？',{icon:3,title:'提示'},function() {
						$.ajax({
							url:  '/backstage/appAdvertisement/' + ids,
							type: 'DELETE',
							headers: {
								'Authorization': sessionid,
							},
							success: (res) => {
								layer.msg(res.message)
								setTimeout(function(){
									window.location.reload()
								},1200)
							}
						})
					})
					
				},
				lookat(cons,tys) {
					let _this = this;
					layui.use('layer',function() {
						var layer = layui.layer;
						if(tys == 'img') {
							layer.open({
								type:1,
								content:`<img src="${cons}" style="max-width:300px;"/>`,
								area:'device-width'
							})
						}else {
							layui.use('layer',function() {
								var layer = layui.layer;
								
								layer.open({
									type:1,
									content:cons,
									area:'device-width'
								})
							})
						}
						
					})
				}
			}
		})
	</script>
</body>
</html>
