<!DOCTYPE html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>智汇玉龙-管理后台</title>
   <meta name="Keywords" content="智汇玉龙,管理后台" />
   <meta name="Description" content="智汇玉龙管理后台" />

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/layui/css/layui.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href="assets/css/common.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
            </div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
            <div class="header-right">

                <a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
                <a href="javascript:;"><img src="assets/img/home.png" ></a>
                <a href="javascript:;"><img src="assets/img/home02.png" ></a>
                <a href="javascript:;"><img src="assets/img/home-return.png" ></a>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
        	<div class="sidebar-collapse">
        		<ul class="nav" id="main-menu">
        			<li>
        				<a href="index.html"><i class="fa fa-desktop"></i><em>管理控制台</em></a>
        			</li>
        			<li>
        				<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>关于我们</em></a>
        			</li>
        			<li>
        				<a><i class="fa fa-stack-overflow"></i><em>平台基础设置</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="banner.html"><em>banner图管理</em></a>
        					</li>
        					<li>
        						<a href="notice.html"><em>公告管理</em></a>
        					</li>
        					<li>
        						<a href="ads.html"><em>APP广告页管理</em></a>
        					</li>
        					<li>
        						<a href="user-rate.html"><em>会员等级管理</em></a>
        					</li>
        					<li>
        						<a href="chat.html"><em>聊天室管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-outdent"></i><em>提现管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="chamberWithdraw.html"><em>商会提现</em></a>
        					</li>
        					<li>
        						<a href="shoper-withdraw.html"><em>商户提现</em></a>
        					</li>
        					<li>
        						<a href="user-withdraw.html"><em>用户提现</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a><i class="fa fa-bank"></i><em>收益管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="rate.html"><em>分润设置</em></a>
        					</li>
        					<li>
        						<a href="income.html"><em>平台收益明细</em></a>
        					</li>
        				</ul>
        			</li>
        			<li class="active">
        				<a><i class="fa fa-cart-plus"></i><em>平台商城管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a class="active-menu" href="category.html"><em>分类管理</em></a>
        					</li>
        					<li>
        						<a href="goods.html"><em>商品列表管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href="order-before.html"><i class="fa fa-print"></i><em>订单管理</em></a>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-bar-chart"></i><em>财务统计</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="sys-shop-data.html"><em>平台商城数据</em></a>
        					</li>
        					<li>
        						<a href="chamber-data.html"><em>商会数据</em></a>
        					</li>
        					<li>
        						<a href="shop-data.html"><em>商户数据</em></a>
        					</li>
        					<li>
        						<a href="order-statistic.html"><em>订单统计</em></a>
        					</li>
        					<li>
        						<a href="goods-statistic.html"><em>产品统计</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-users"></i><em>商会管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="chamber.html"><em>商会列表</em></a>
        					</li>
        					<li>
        						<a href="chamber-apply.html"><em>商会入驻申请</em></a>
        					</li>
        				</ul>
        			</li>
        			<li class="">
        				<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a class="" href="news-index.html"><em>商会动态</em></a>
        					</li>
        					<li>
        						<a href="news-goverment.html"><em>时事要闻</em></a>
        					</li>
        					<li>
        						<a href="news-culture.html"><em>文化旅游</em></a>
        					</li>
        					<li>
        						<a href="news-local.html"><em>招商引资</em></a>
        					</li>
							<li>
								<a href="oppo.html"><em>汇商机</em></a>
							</li>
        				</ul>
        			</li>
        			<li>
        				<a href=""><i class="fa fa-user"></i><em>商户及用户管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="shoper.html"><em>商户管理</em></a>
        					</li>
        					<li>
        						<a href="user.html"><em>用户管理</em></a>
        					</li>
        				</ul>
        			</li>
					<li class="">
						<a href="local-service.html"><i class="fa fa-user"></i><em>本地服务</em></a>
					</li>
        			<li>
        				<a href=""><i class="fa fa-play-circle"></i><em>视频管理</em><span class="fa arrow"></span></a>
        				<ul class="nav nav-second-level">
        					<li>
        						<a href="live.html"><em>直播管理</em></a>
        					</li>
        					<li>
        						<a href="video.html"><em>点播管理</em></a>
        					</li>
        				</ul>
        			</li>
        			<li>
        				<a href="log.html"><i class="fa fa-cubes"></i><em>系统日志</em></a>
        			</li>
        		</ul>
        	</div>
        </nav>
        
		<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12 nav-topdown">
                      <!-- <h1 class="page-head-line">DASHBOARD</h1> -->
                       <!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">平台商城管理</a> > <a href="category.html">分类管理</a> > <a href="#">添加分类</a></p>
                    </div>
                </div>
                <!-- /. ROW  -->
				<div class="row page">
					<div class="col-md-12 page-tit">
						<p>添加分类</p>
					</div>
					
					<div class="col-md-12 page-block">
						<form class="row layui-form" action="">
							<div class="block-con layui-form-item col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">栏目</span>
									<div class="layui-input-block col-md-10_5 col-xs-12">
										<input type="text" class="form-control col-md-5" v-model="type1" />
										<input class="btn btn-sm btn-blue" type="button" value="添加通用商品分类" @click="addtype(1)" />
									</div>
								</label>
							</div>
							
							<div class="block-con layui-form-item col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">通用商品分类</span>
									<div class="layui-input-block col-md-10_5 col-xs-12 type2s">
										<!-- <input type="text" class="form-control col-md-5 type2s_name type2_name_0" v-model="type2" /> -->
										<!-- <input class="btn btn-sm btn-blue" type="button" value="继续添加" @click="addtype(2)" /> -->
									</div>
								</label>
							</div>
					
							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12"></span>
									<div class="col-md-10_5 col-xs-12">
										<input class="btn btn-sm btn-blue" type="button" value="修改" @click="subs" />
									</div>
								</label>
							</div>
					
						</form>
					</div>
				</div>
				
            <!-- /. PAGE INNER  -->
			<div class="block-con col-xs-12 displaynone" id="pops">
				<label class="col-md-12 col-xs-12 marginTop20">
					<span class="col-md-3 col-xs-12">名称</span>
					<div class="col-md-9 col-xs-12">
						<input class="form-control" type="text" v-model="addSecond" style="width: 100%;"/>
					</div>
				</label>
			</div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
       <p>Copyright © 2020 智汇玉龙版权所有</p>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/layui/layui.all.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/common.js"></script>
	<script src="assets/js/link.js"></script>
	<script src="assets/js/vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#page-wrapper',
			data: {
				type1:'',
				type2:'',
				type1Id:'',
				istype2:false,
				ids:'',
				firstTys:'',//一级分类返回id
				types2:[],//所有二级分类
				storeid:'',
				addSecond:''//添加的二级分类名称
			},
			created() {
				let _this = this;
				this.ids = window.location.href.split('=')[1]
				if(_this.ids != 'add') {
					_this.edit(_this.ids)
					// GET /backstage/goodsType/findOneLevel/{parentId}
				}
			},
			methods: {
				edit(ids) {
					let _this = this;
					$.ajax({
						url:  '/backstage/goodsType/' + ids,
						type: 'GET',
						headers: {
							'Authorization': sessionid,
						},
						success: (res) => {
							_this.type1 = res.data.name
							_this.storeid = res.data.storeId;
							$.ajax({
								url:  '/backstage/goodsType/findOneLevel/' + ids,
								type: 'GET',
								headers: {
									'Authorization': sessionid,
								},
								success: (res) => {
									if(res.data) {
										res.data.forEach(function(i,index) {
											// console.log(1)
											$('.type2s').append(`<div class="col-md-12 col-xs-12" style="margin:0 0 20px -15px;"><input type="text" class="type2s_name type2_name_${index}" value="${i.name}"/><input class="btn btn-sm btn-blue" type="button" value="删除分类" onclick="del(${i.id},${i.parentId})" /></div>`);
										})
									}
									_this.types2 = res.data;
								}
							})
						}
					})
				},
				addtype(tys) {
					let _this = this;
					let v = {
					  "name": "string",
					  "parentId": _this.ids,
					  "storeId": _this.storeid
					};
					layui.use('layer',function() {
						var layer = layui.layer;
						layer.open({
							type:1,
							title:'添加通用商品分类',
							content:$('#pops'),
							btn:['确定','取消'],
							yes:function(index) {
								v.name = _this.addSecond
								$.ajax({
									url:  '/backstage/goodsType',
									type: 'POST',
									contentType: 'application/json',
									headers: {
										'Authorization': sessionid,
									},
									dataType: 'json',
									data: JSON.stringify(v),
									success: (res) => {
										layer.msg(res.message)
										setTimeout(function(){
											window.location.reload()
										},1200)
									},
									fail: (err) => {
										layer.msg(err.message)
									}
								})
								layer.close(index)
								$('#pops').hide()
								
							},
							cancel:function() {
								$('#pops').hide()
							}
						})
					})
				},
				toload(tys,names,myid) {
					let _this = this;
					let v = {
						  "id":"string",
						  "name": "string",
						  "parentId": 0,
						  "storeId": _this.storeid
						};
					if(tys == 1) {
						v.id = _this.ids;
						v.parentId = 1;
						v.name = _this.type1
						$.ajax({
							url:  '/backstage/goodsType',
							type: 'PUT',
							contentType: 'application/json',
							headers: {
								'Authorization': sessionid,
							},
							dataType: 'json',
							data: JSON.stringify(v),
							success: (res) => {
								// _this.firstTys = res.data
								layer.msg(res.message)
							},
							fail: (err) => {
								layer.msg(err.message)
							}
						})
					}else {
						v.id = myid;
						v.parentId = _this.ids;
						v.name = names;
						$.ajax({
							url:  '/backstage/goodsType',
							type: 'PUT',
							contentType: 'application/json',
							headers: {
								'Authorization': sessionid,
							},
							dataType: 'json',
							data: JSON.stringify(v),
							success: (res) => {
								layer.msg(res.message)
							},
							fail: (err) => {
								layer.msg(err.message)
							}
						})
					}
					
				},
				subs() {
					let _this = this;
					_this.toload(1)
					_this.types2.forEach(function(i,index) {
						var is = $('.type2s_name').eq(index).val();
						// return
						_this.toload(2,is,i.id)
					})
					setTimeout(function() {
						// window.location.href = "category.html"
					})
				}
			}
		})
	</script>
	<script type="text/javascript">
		function del(ids) {
			$.ajax({
				url: '/backstage/goodsType/' + ids,
				type: 'DELETE',
				headers: {
					'Authorization': sessionid,
				},
				success: (res) => {
					// _this.firstTys = res.data
					layer.msg(res.message)
					setTimeout(function(){
						window.location.reload()
					},1200)
				},
				fail: (err) => {
					layer.msg(err.message)
				}
			})
		}
	</script>
</body>
</html>
