<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-管理后台</title>
	<meta name="Keywords" content="智汇玉龙,管理后台" />
	<meta name="Description" content="智汇玉龙管理后台" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="index.html"><i class="fa fa-desktop"></i><em>管理控制台</em></a>
					</li>
					<li>
						<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>关于我们</em></a>
					</li>
					<li class="active">
						<a><i class="fa fa-stack-overflow"></i><em>平台基础设置</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="notice-screct.html"><em>隐私政策</em></a>
							</li>
							<li>
								<a href="notice-user.html"><em>用户协议</em></a>
							</li>
							<li>
								<a href="banner.html"><em>banner图管理</em></a>
							</li>
							<li>
								<a class="active-menu" href="notice.html"><em>公告管理</em></a>
							</li>
							<li>
								<a href="ads.html"><em>APP广告页管理</em></a>
							</li>
							<!-- <li>
								<a href="adload.html"><em>APP启动页管理</em></a>
							</li> -->
							<li>
								<a href="user-rate.html"><em>会员等级管理</em></a>
							</li>
							<li>
								<a href="integral.html"><em>积分规则</em></a>
							</li>
							<li>
								<a href="chat.html"><em>聊天室管理</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="chamberWithdraw.html"><i class="fa fa-outdent"></i><em>提现管理</em></a>
					</li>
					<li>
						<a><i class="fa fa-bank"></i><em>收益管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="rate.html"><em>分润设置</em></a>
							</li>
							<li>
								<a href="income.html"><em>平台收益明细</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a><i class="fa fa-cart-plus"></i><em>平台商城管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="channel.html"><em>频道管理</em></a>
							</li>
							<li>
								<a href="category.html"><em>分类管理</em></a>
							</li>
							<li>
								<a href="goods.html"><em>商品列表管理</em></a>
							</li>
							<li>
								<a class="" href="commend-goods.html"><em>推荐商品管理</em></a>
							</li>
							<li>
								<a href="gift.html"><em>礼包专区</em></a>
							</li>
							<li>
								<a href="indexcontrol-master.html"><em>管理员管理</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="order-before.html"><i class="fa fa-print"></i><em>订单管理</em></a>
					</li>
					<!-- <li>
						<a href=""><i class="fa fa-bar-chart"></i><em>财务统计</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="sys-shop-data.html"><em>平台商城数据</em></a>
							</li>
							<li>
								<a href="chamber-data.html"><em>商会数据</em></a>
							</li>
							<li>
								<a href="shop-data.html"><em>商户数据</em></a>
							</li>
							<li>
								<a href="order-statistic.html"><em>订单统计</em></a>
							</li>
							<li>
								<a href="goods-statistic.html"><em>产品统计</em></a>
							</li>
						</ul>
					</li> -->
					<li>
						<a href=""><i class="fa fa-users"></i><em>商会管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="chamber.html"><em>商会列表</em></a>
							</li>
							<!-- <li>
								<a href="chamber-apply.html"><em>商会入驻申请</em></a>
							</li> -->
						</ul>
					</li>
					<li class="">
						<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a class="" href="news-index.html"><em>商会动态</em></a>
							</li>
							<li>
								<a href="news-goverment.html"><em>时事要闻</em></a>
							</li>
							<li>
								<a class="" href="news-culture.html"><em>文化旅游</em></a>
							</li>
							<li>
								<a href="news-local.html"><em>招商引资</em></a>
							</li>
							<li>
								<a href="oppo.html"><em>汇商机</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href=""><i class="fa fa-user"></i><em>商户及用户管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="shoper.html"><em>商户管理</em></a>
							</li>
							<li>
								<a href="user.html"><em>用户管理</em></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href=""><i class="fa fa-user"></i><em>本地服务</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="local-service.html"><em>本地服务分类</em></a>
							</li>
							<li>
								<a href="local-service-store.html"><em>本地服务商户</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href=""><i class="fa fa-play-circle"></i><em>视频管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="live.html"><em>直播管理</em></a>
							</li>
							<li>
								<a href="video.html"><em>点播管理</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="message.html" class=""><i class="fa fa-print"></i><em>意见建议</em></a>
					</li>
					<li>
						<a href="log.html"><i class="fa fa-cubes"></i><em>系统日志</em></a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper" v-cloak>
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<!-- <h1 class="page-head-line">DASHBOARD</h1> -->
						<!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">平台信息设置</a> > <a href="notice.html">公告管理</a> > <a href="#">添加公告</a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row page">
					<div class="col-md-12 page-tit">
						<p>基础设置</p>
					</div>

					<div class="col-md-12 page-block">
						<form class="row layui-form" action="">
							<div class="block-con layui-form-item col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">标题</span>
									<div class="col-md-10_5 col-xs-12">
										<input type="text" class="form-control col-md-5" v-model="title" />
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">显示位置</span>
									<div class="layui-input-block col-md-10_5 col-xs-12">
										<select name="position" lay-filter="" lay-verify="" ref="position">
											<option value="1" selected="">首页</option>
											<option value="2">智汇购</option>
											<option value="3">个人中心</option>
										</select>
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">消息类型</span>
									<div class="layui-input-block col-md-10_5 col-xs-12">
										<select name="type" lay-filter="" lay-verify="" ref="type">
											<option value="1" selected="">系统消息</option>
											<option value="2">平台公告</option>
										</select>
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">详情</span>
									<div class="col-md-10_5 col-xs-12">
										<textarea id="editor_id" name="content" style="width: 700px; height: 300px;">&lt;strong&gt;HTML内容&lt;/strong&gt; </textarea>
									</div>
								</label>
							</div>
							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12"></span>
									<div class="col-md-10_5 col-xs-12">
										<input class="btn btn-sm btn-blue" type="button" value="提交" @click="subs" />
									</div>
								</label>
							</div>

						</form>
					</div>
				</div>

				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->

		<div id="footer-sec">
			<p>Copyright © 2020 智汇玉龙版权所有</p>
		</div>
		<!-- /. FOOTER  -->
		<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
		<!-- JQUERY SCRIPTS -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		<!-- BOOTSTRAP SCRIPTS -->
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/layui/layui.all.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="assets/js/jquery.metisMenu.js"></script>
		<script src="assets/kindeditor-4.1.11-zh-CN/kindeditor-all.js"></script>
		<script src="assets/kindeditor-4.1.11-zh-CN/lang/zh-CN.js"></script>
		<!-- CUSTOM SCRIPTS -->
		<script src="assets/js/custom.js"></script>
		<script src="assets/js/common.js"></script>
		<script src="assets/js/link.js"></script>
		<script src="assets/js/vue.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#page-wrapper',
				data: {
					bannerList:[],
					title:'',
					position:'',
					type:'',
					content:null
				},
				created() {
					this.ids = window.location.href.split('=')[1]
					let _this = this;
					if(_this.ids != 'add') {
						$.ajax({
							url:  '/backstage/notice/' + _this.ids,
							type: 'GET',
							headers: {
								'Authorization': sessionid,
							},
							success: (res) => {
								_this.bannerList = res.data
								_this.$nextTick(() => {
									_this.title = res.data.title;
									editor.html(res.data.content);
								})
							},
							fail: (err) => {
								layui.use('layer', function() {
									var layer = layui.layer;
									layer.msg(err.message)
								})
							}
						})
					}
				},
				mounted() {
					layui.use('form',function() {
						var form = layui.form;
						form.render()
					})
					
					let _this = this;
							
					// 关闭过滤模式，保留所有标签
					// KindEditor.options.filterMode = false;
					KindEditor.ready(function(K) {
						window.editor = K.create('#editor_id', {
							items:[
							        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
							        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
							        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
							        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
							        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
							        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 
							        'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
							        'anchor', 'link', 'unlink', '|', 'about'
							],
							filePostName: "uploadFile",
							//这里就是指定文件上传的请求地址，上面也已经说了，upload_json.jsp就相当去一个servlet去进行保存文件，这个地方很重要
							uploadJson:  '/Kindeditor/uploadFile',
							resizeType: 1,
							allowPreviewEmoticons: true,
							allowImageUpload: true,
							afterBlur: function() {
								this.sync();
							}, //编辑器失去焦点(blur)时执行的回调函数（将编辑器的HTML数据同步到textarea）
							afterUpload: function(url, data, name) { //上传文件后执行的回调函数，必须为3个参数
								console.log(url)
								console.log(data)
							}
						});
					});
				},
				methods: {
					subs() {
						let _this = this;
						_this.position = _this.$refs.position.value;
						_this.type = _this.$refs.type.value;
						_this.content = editor.html();
						if (!_this.title || !_this.position || !_this.type || !_this.content) {
							layui.use('layer', function() {
								var layer = layui.layer;
								layer.msg('请输入需要的信息')
							})
							return
						}
						let v = {
							  "content": "",
							  "display": 0,
							  "endTime": "",
							  "position": "",
							  "startTime": "",
							  "title": "",
							  "type": ""
							}
						var ajaxType;
						if(_this.ids == 'add') {
							ajaxType = 'POST'
						}else {
							ajaxType = 'PUT'
							v = _this.bannerList
						}
						v.content = _this.content;
						v.position = _this.position;
						v.title = _this.title;
						v.type = _this.type;
						console.log(v)
						// return
						$.ajax({
							url:  '/backstage/notice',
							type: ajaxType,
							contentType: 'application/json',
							headers: {
								'Authorization': sessionid,
							},
							dataType: 'json',
							data: JSON.stringify(v),
							success: (res) => {
								layer.msg(res.message)
								if(res.code == 10000) {
									setTimeout(function(){
										window.location.href = 'notice.html'
									},1200)
								}
							},
							fail: (err) => {
								layer.msg('请求失败')
							}
						})
					}
				}
			})
		</script>

		<script type="text/javascript">
			var imgurl;
			/**/
			layui.use('form', function() {
				var form = layui.form;
			});

			layui.use('upload', function() {
				var $ = layui.jquery,
					upload = layui.upload;

				//普通图片上传
				var uploadInst = upload.render({
					elem: '#uploadlogo',
					url:  '/upload/upload',
					headers: {
						'Authorization': sessionid
					},
					accept: 'images',
					choose: function(obj) {

						//将每次选择的文件追加到文件队列
						var files = obj.pushFile();
						//预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
						obj.preview(function(index, file, result) {
							console.log(file.name); //得到文件对象
							$('.logopath').val(file.name)
						});
					},
					before: function(obj) {
						//预读本地文件示例，不支持ie8
						obj.preview(function(index, file, result) {
							$('#demo1').attr('src', result); //图片链接（base64）
						});
					},
					done: function(res) {
						imgurl = res.data
					},
					error: function() {
						//演示失败状态，并实现重传
						var demoText = $('#demoText');
						demoText.html(
							'<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
						demoText.find('.demo-reload').on('click', function() {
							uploadInst.upload();
						});
					}
				});
			});

			//弹窗
			layui.use('layer', function() {
				var $ = layui.jquery,
					layer = layui.layer;

				// 弹窗内点击选择
				$('.internetimg .imgs').click(function() {
					if (!(/document/.test($(this).find('img').attr('src'))) && !(/return/.test($(this).find('img').attr('src')))) {
						$(this).addClass('active').siblings().removeClass('active');
					}
					event.stopPropagation(); //阻止事件冒泡
				})
				$('.internetimg').click(function() { //相当于blur,点击以外的部分取消选择
					$('.internetimg .imgs').each(function() {
						$(this).removeClass('active')
					})
				})

				// 站内选择
				$('.inter-show .imgs').dblclick(function() {
					var ids = $(this).attr('data-id');
					$('.inter-show').hide().next().show();
					$('.inter-level').attr('data-id', ids);
					console.log($('.inter-level').attr('data-id'))
				});
				// 返回
				$('.internetimg .imgs.return').click(function() {
					$('.inter-show').show().next().hide();
				})



				//触发事件
				var active = {
					notice: function() {
						//示范一个公告层
						layer.open({
							type: 1,
							title: false //不显示标题栏
								,
							closeBtn: false,
							area: 'device-width',
							shade: 0.3,
							resize: false,
							id: 'LAY_layuipro' //设定一个id，防止重复弹出
								,
							btn: ['确认', '关闭'],
							btnAlign: 'c' //按钮居中对齐
								,
							moveType: 1 //拖拽模式，0或者1
								,
							content: $('.internetimg'),
							success: function(layero) {
								var btn = layero.find('.layui-layer-btn');
								// btn.find('.layui-layer-btn0').attr({
								//   href: 'http://www.layui.com/'
								//   ,target: '_blank'
								// });
							},
							yes: function(index, layero) {
								console.log('确认')
								console.log($('.internetimg').find('.active').children().attr('src'))
								var lengths = $('.internetimg').find('.active').length;
								if (lengths) {
									var src = $('.internetimg').find('.active').children().attr('src');
									$('#layerDemo').siblings('input').val(src);
									$('#demo1').attr('src', src);
									$('.internetimg').css('display', 'none');
									layer.close(index);
								} else {
									layer.msg('您未选中图片！')
								}
							},
							btn2: function() {
								console.log('关闭')
								$('.internetimg').css('display', 'none');
							}
						});
					}
				};

				$('#layerDemo .layui-btn').on('click', function() {
					var othis = $(this),
						method = othis.data('method');
					active[method] ? active[method].call(this, othis) : '';
				});
			});
		</script>
</body>
</html>
