<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-商会</title>
	<meta name="Keywords" content="智汇玉龙,商会" />
	<meta name="Description" content="智汇玉龙商会" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="index.html"><i class="fa fa-desktop "></i><em>管理控制台</em></a>
					</li>
					<li>
						<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>商会信息管理</em></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-gears "></i><em>商会收益</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="coin-month.html"><em>本月收益明细</em></a>
							</li>
							<li>
								<a href="coin-history.html"><em>历史收益明细</em></a>
							</li>
							<li>
								<a href="coin-recharge.html"><em>收益提现</em></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href=""><i class="fa fa-th-large "></i><em>商会公告</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="platform-notice.html"><em>公告展示</em></a>
							</li>
							<li>
								<a class="" class="" href="platform-banner.html"><em>banner展示</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="storecontrol.html"><i class="fa fa-user-circle-o "></i><em>推荐商户管理</em></span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-flag "></i><em>商会管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="indexcontrol-master.html"><em>管理员管理</em></a>
							</li>
							<li>
								<a href="indexcontrol-store.html"><em>商户管理</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a class="active-menu" href="chatteam-control.html"><i class="fa fa-comments "></i><em>商会聊天室管理</em></span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="news-index.html"><em>商会动态</em></a>
							</li>
							<li>
								<a href="active-public.html"><em>活动信息发布</em></a>
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
		
		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<!-- <h1 class="page-head-line">DASHBOARD</h1> -->
						<!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">商会聊天室管理</a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row page SEOpage">
					<div class="col-md-12 page-tit">
						<p>商会聊天室管理</p>
					</div>

					<div class="col-md-12 page-block textalign-center th-textalign-center">
						<div class="panel panel-default">
							<div class="panel-heading textalign-left">
								<a class="btn btn-blue btn-sm" href="chatteam-control-edit.html?id=add">新增聊天室</a>
								<!-- <div class="btn-group pull-right">
									<input type="number" class="searchid" id="" v-model="searchid" placeholder="按ID查询" />
									<button class="btn btn-blue btn-sm pull-right" @click="mysearch">确定</button>
								</div> -->
							</div>

						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th><input type="checkbox" name="" id="" value="" /></th>
											<th>ID</th>
											<th>名称</th>
											<th>聊天室类型</th>
											<th>申请情况</th>
											<th>群主</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-if="!issearch" v-for="(item,index) in bannerList">
											<td><input type="checkbox" name="" id="" value="" /></td>
											<td>{{item.id}}</td>
											<td>{{item.name}}</td>
											<td>{{item.status | fstatus}}</td>
											<td>{{item.type == 1 ? '商务聊天室' : '休闲聊天室'}}</td>
											<td>{{item.uid ? item.uid : '暂无群主'}}</td>
											<td>
												<!-- <a class="btn btn-blue btn-sm" :href="'chatteam-control-edit.html?id='+item.id">编辑</a> -->
												<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(item.id)">删除</a>
											</td>
										</tr>
										<tr v-if="issearch">
											<td><input type="checkbox" name="" id="" value="" /></td>
											<td>{{searchList.id}}</td>
											<td>{{searchList.name}}</td>
											<td>{{searchList.status | fstatus}}</td>
											<td>{{searchList.type == 1 ? '商务聊天室' : '休闲聊天室'}}</td>
											<td>{{searchList.uid ? searchList.uid : '暂无群主'}}</td>
											<td>
												<!-- <a class="btn btn-blue btn-sm" :href="'chatteam-control-edit.html?id='+searchList.id">编辑</a> -->
												<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(searchList.id)">删除</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->

	<div id="footer-sec">
		<p>Copyright © 2020 几度互联版权所有</p>
	</div>

</body>
<script src="assets/js/jquery-1.10.2.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/layui/layui.all.js"></script>
<script src="assets/js/jquery.metisMenu.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/link.js"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: '#page-wrapper',
		data: {
			searchid: '',
			bannerList: [],
			issearch: false,
			searchList: null
		},
		created() {
			let _this = this;
			$.ajax({
				url:  '/chamber/room',
				type: 'GET',
				headers: {
					'Authorization': sessionid,
				},
				success: (res) => {
					_this.bannerList = res.data
				}
			})
		},
		filters:{
			fstatus(sts) {
				if(sts == 1) {
					return '申请中'
				}else if(sts == 2) {
					return '申请通过'
				}else if(sts == 3) {
					return '申请不通过'
				}else {
					return '暂无此状态'
				}
			}
		},
		methods: {
			mysearch() {
				let _this = this;
				if (!_this.searchid) {
					_this.issearch = false
				} else {
					_this.issearch = true;
					$.ajax({
						url:  '/chamber/notice/' + _this.searchid,
						type: 'GET',
						headers: {
							'Authorization': sessionid,
						},
						success: (res) => {
							_this.searchList = res.data
							console.log(_this.searchList)
						}
					})
				}
			},
			del(ids) {
				let _this = this;
				$.ajax({
					url:  '/chamber/room/' + ids,
					type: 'DELETE',
					headers: {
						'Authorization': sessionid,
					},
					success: (res) => {
						$.ajax({
							url:  '/chamber/room',
							type: 'GET',
							headers: {
								'Authorization': sessionid,
							},
							success: (res) => {
								_this.bannerList = res.data
							}
						})
					}
				})
			}
		}
	})
</script>
</html>
