<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-商会</title>
	<meta name="Keywords" content="智汇玉龙,商会" />
	<meta name="Description" content="智汇玉龙商会" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="index.html"><i class="fa fa-desktop "></i><em>管理控制台</em></a>
					</li>
					<li>
						<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>商会信息管理</em></a>
					</li>
					<li class="">
						<a href="#"><i class="fa fa-gears "></i><em>商会收益</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="coin-month.html"><em>本月收益明细</em></a>
							</li>
							<li>
								<a href="coin-history.html"><em>历史收益明细</em></a>
							</li>
							<li>
								<a class="" href="coin-recharge.html"><em>收益提现</em></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href=""><i class="fa fa-th-large "></i><em>商会公告</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="platform-notice.html"><em>公告</em></a>
							</li>
							<li>
								<a class="" href="platform-banner.html"><em>banner图</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="storecontrol.html"><i class="fa fa-user-circle-o "></i><em>推荐商户管理</em></span></a>
					</li>
					<li class="">
						<a href="#"><i class="fa fa-flag "></i><em>商会管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="indexcontrol-master.html"><em>管理员管理</em></a>
							</li>
							<li>
								<a class="" href="indexcontrol-store.html"><em>商户管理</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="chatteam-control.html"><i class="fa fa-comments "></i><em>商会聊天室管理</em></span></a>
					</li>
					<li class="active">
						<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a class="active-menu" href="news-index.html"><em>商会动态</em></a>
							</li>
							<li>
								<a href="active-public.html"><em>活动信息发布</em></a>
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
		
		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<!-- <h1 class="page-head-line">DASHBOARD</h1> -->
						<!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">资讯管理</a> > <a href="#">商会动态</a></a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row page SEOpage">
					<div class="col-md-12 page-tit">
						<p>商会动态</p>
					</div>

					<div class="col-md-12 page-block textalign-center th-textalign-center">
						<div class="panel panel-default">
							<div class="panel-heading textalign-left">
								<a class="btn btn-blue btn-sm" href="news-index-edit.html?id=add">新增新闻</a>
								<!-- <div class="btn-group pull-right">
									<input type="number" class="searchid" id="" v-model="searchid" placeholder="按ID查询" />
									<button class="btn btn-blue btn-sm pull-right" @click="mysearch">确定</button>
								</div> -->
							</div>

						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th><input type="checkbox" name="" id="" value="" /></th>
											<th>排序</th>
											<!-- <th>添加时间</th> -->
											<!-- <th>添加人</th> -->
											<th>是否推荐到首页</th>
											<th>封面图</th>
											<th>新增新闻</th>
											<th>名称</th>
											<th>是否可见</th>
											<!-- <th>评论次数</th> -->
											<!-- <th>观看次数</th> -->
											<!-- <th>点赞次数</th> -->
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-if="!issearch" v-for="(item,index) in bannerList">
											<td><input type="checkbox" name="" id="" value="" /></td>
											<td>{{item.sordOrder}}</td>
											<!-- <td>{{item.addtime}}</td> -->
											<!-- <td>{{item.addpeople}}</td> -->
											<td>{{item.homePage ? '是' : '否'}}</td>
											<td><a class="btn btn-blue" @click="lookat(item.headPic,'img')">预览</a></td>
											<td><a class="btn btn-blue" @click="lookat(item.context,'HTML')">查看</a></td>
											<td>{{item.name}}</td>
											<td>{{item.display ? '是' : '否'}}</td>
											<!-- <td>{{item.commentNum}}</td> -->
											<!-- <td>{{item.seenum}}</td> -->
											<!-- <td>{{item.thumbsNum}}</td> -->
											<td>
												<a class="btn btn-blue btn-sm" :href="'news-index-edit.html?id='+item.id">编辑</a>
												<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(item.id)">删除</a>
											</td>
										</tr>
										<tr v-if="issearch">
											<td><input type="checkbox" name="" id="" value="" /></td>
											<td>{{searchList.sordOrder}}</td>
											<!-- <td>{{searchList.addtime}}</td> -->
											<!-- <td>{{searchList.addpeople}}</td> -->
											<td>{{searchList.homePage ? '是' : '否'}}</td>
											<td><a class="btn btn-blue" @click="lookat(searchList.headPic,'img')">预览</a></td>
											<td><a class="btn btn-blue" @click="lookat(searchList.context,'HTML')">查看</a></td>
											<td>{{searchList.name}}</td>
											<td>{{searchList.display ? '是' : '否'}}</td>
											<!-- <td>{{searchList.commentNum}}</td> -->
											<!-- <td>{{searchList.seenum}}</td> -->
											<!-- <td>{{searchList.thumbsNum}}</td> -->
											<td>
												<!-- <a class="btn btn-blue btn-sm" href="javascript:;" rowedit>内容</a> -->
												<a class="btn btn-blue btn-sm" :href="'news-index-edit.html?id='+searchList.id">编辑</a>
												<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(searchList.id)">删除</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="pop displaynone" id="pop" v-html="editTxt" style="width: 500px;height: 200px;padding: 15px;max-width: 100%;max-width: 100%;">
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->

	<div id="footer-sec">
		<p>Copyright © 2020 智汇玉龙版权所有</p>
	</div>

</body>
<script src="assets/js/jquery-1.10.2.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/layui/layui.all.js"></script>
<script src="assets/js/jquery.metisMenu.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/link.js"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: '#page-wrapper',
		data: {
			searchid: '',
			bannerList: [],
			issearch: false,
			searchList: null,
			editTxt:null
		},
		created() {
			let _this = this;
			$.ajax({
				url:  '/chamber/activity/findByStoreId',
				type: 'GET',
				headers: {
					'Authorization': sessionid,
				},
				success: (res) => {
					if(res.data) {
						res.data.forEach(function(i) {
							if(i.type == 1) {
								_this.bannerList.push(i)
							}
						})
					}
				}
			})
		},
		methods: {
			mysearch() {
				let _this = this;
				if (!_this.searchid) {
					_this.issearch = false
				} else {
					
					$.ajax({
						url:  '/chamber/activity/' + _this.searchid,
						type: 'GET',
						headers: {
							'Authorization': sessionid,
						},
						success: (res) => {
							_this.searchList = res.data
							_this.issearch = true;
						}
					})
				}
			},
			del(ids) {
				let _this = this;
				$.ajax({
					url:  '/chamber/activity/' + ids,
					type: 'DELETE',
					headers: {
						'Authorization': sessionid,
					},
					success: (res) => {
						layer.msg(res.message)
						setTimeout(function() {
							window.location.reload()
						},1200)
					}
				})
			},
			lookat(cons,tys) {
				let _this = this;
				if(!cons) {
					layer.msg('您查看的内容为空')
					return
				}
				if(tys == 'img')  {
					layui.use('layer', function(){
					  var layer = layui.layer;
					  
					  layer.open({
					    type: 1, 
						title:'内容',
					    content: '<img src="' + cons + '" style="max-width:300px;"/>' ,//这里content是一个普通的String
						area: 'auto'
					  });
					}); 
				}else if(tys == 'HTML') {
					_this.editTxt = cons;
					layui.use('layer', function(){
					  var layer = layui.layer;
					  
					  layer.open({
					    type: 1, 
						title:'内容',
					    content: $('#pop') ,//这里content是一个普通的String
						area: 'auto',
						yes:function() {
							$('#pop').hide()
						},
						cancel:function() {
							$('#pop').hide()
						}
					  });
					}); 
				}else {
					layui.use('layer', function(){
					  var layer = layui.layer;
					  
					  layer.open({
					    type: 1, 
						title:'内容',
					    content: cons ,//这里content是一个普通的String
						area: 'auto'
					  });
					}); 
				}
				
			}
		}
	})
</script>
<script type="text/javascript">
	layui.use('layer', function() {
		var layer = layui.layer;

		function getChecked() {
			var eqs = '',
				arr = [];
			$('table th').each(function(i) {
				if ($(this).text() == 'ID') {
					eqs = i;
				}
			})
			$('tr td:first-child input[type=checkbox]').each(function() {
				var $this = $(this);
				if ($(this)[0].checked) {
					var check = $this.parent().parent().children().eq(eqs).text();
					arr.push(check)
				}
			})

			return arr
		}

		$('[data-event]').click(function() {
			let dataEvent = $(this).attr('data-event');
			let arr = getChecked();
			if (arr.length) {
				if (dataEvent == 'del') {
					layer.confirm('确定删除吗？', function(index) {
						console.log(arr)

						layer.close(index);
					})
				}
			} else {
				layer.msg('您尚未选中任何选项！')
			}

		})
		// $('[data-event]').click END
	})
</script>
</html>
