<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-商会</title>
	<meta name="Keywords" content="智汇玉龙,商会" />
	<meta name="Description" content="智汇玉龙商会" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="index.html"><i class="fa fa-desktop "></i><em>管理控制台</em></a>
					</li>
					<li>
						<a href="indexmsg-msg.html" class=""><i class="fa fa-object-group "></i><em>商会信息管理</em></a>
					</li>
					<li class="">
						<a href="#"><i class="fa fa-gears "></i><em>商会收益</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="coin-month.html"><em>本月收益明细</em></a>
							</li>
							<li>
								<a href="coin-history.html"><em>历史收益明细</em></a>
							</li>
							<li>
								<a class="" href="coin-recharge.html"><em>收益提现</em></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href=""><i class="fa fa-th-large "></i><em>商会公告</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="platform-notice.html"><em>公告</em></a>
							</li>
							<li>
								<a class="" href="platform-banner.html"><em>banner图</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="storecontrol.html"><i class="fa fa-user-circle-o "></i><em>推荐商户管理</em></span></a>
					</li>
					<li class="">
						<a href="#"><i class="fa fa-flag "></i><em>商会管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="indexcontrol-master.html"><em>管理员管理</em></a>
							</li>
							<li>
								<a class="" href="indexcontrol-store.html"><em>商户管理</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="chatteam-control.html"><i class="fa fa-comments "></i><em>商会聊天室管理</em></span></a>
					</li>
					<li class="active">
						<a href="#"><i class="fa fa-bullhorn "></i><em>资讯管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a class="active-menu" href="news-index.html"><em>商会动态</em></a>
							</li>
							<li>
								<a href="active-public.html"><em>活动信息发布</em></a>
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
		
		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<!-- <h1 class="page-head-line">DASHBOARD</h1> -->
						<!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="indexmsg-msg.html">资讯管理</a> > <a href="#">商会动态</a> > <a href="#">添加商会动态</a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row page">
					<div class="col-md-12 page-tit">
						<p>基础设置</p>
					</div>

					<div class="col-md-12 page-block">
						<form class="row layui-form" action="">
							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">名称</span>
									<div class="col-md-10_5 col-xs-12">
										<input type="text" class="form-control col-md-5" v-model="name" />
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">副标题</span>
									<div class="col-md-10_5 col-xs-12">
										<input type="text" class="form-control col-md-5" v-model="subheading" />
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">排序</span>
									<div class="col-md-10_5 col-xs-12">
										<input type="number" class="form-control col-md-5" v-model="sordOrder" />
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">是否可见</span>
									<div class="col-md-10_5 col-xs-12">
										<strong class="buttons buttons-default"><i class="buttons-point"></i></strong>
										<input class="displaynone switch" type="text" name="isopen" ref="display"/>
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">封面图</span>
									<div class="col-md-10_5 col-xs-12">
										<input class="form-control col-md-5 logopath" type="text" name="logopath" id="" value="" lay-verify="required" />
										<div class="layui-upload col-md-8" id="layerDemo">
											<button type="button" class="layui-btn btn-bgfff" id="uploadlogo"><img src="assets/img/upload.png">本地上传图片</button>
										</div>
										<div class="layui-upload-list col-md-12">
											<img class="layui-upload-img" id="demo1">
											<p id="demoText"></p>
										</div>
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">是否推到首页</span>
									<div class="col-md-10_5 col-xs-12">
										<strong class="buttons buttons-default"><i class="buttons-point"></i></strong>
										<input class="displaynone switch" type="text" name="isopen" ref="homePage"/>
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">内容</span>
									<div class="col-md-10_5 col-xs-12">
										<textarea id="editor_id" name="content" style="width: 700px; height: 300px;">&lt;strong&gt;HTML内容&lt;/strong&gt; </textarea>
									</div>
								</label>
							</div>
							
							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12"></span>
									<div class="col-md-10_5 col-xs-12">
										<input class="btn btn-sm btn-blue" type="button" value="确定" @click="subs" />
									</div>
								</label>
							</div>
							
						</form>
					</div>
				</div>

				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->

		<div id="footer-sec">
			<p>Copyright © 2020 几度互联版权所有</p>
		</div>
		<!-- /. FOOTER  -->
		<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
		<!-- JQUERY SCRIPTS -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		<!-- BOOTSTRAP SCRIPTS -->
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/layui/layui.all.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="assets/js/jquery.metisMenu.js"></script>
		<script src="assets/kindeditor-4.1.11-zh-CN/kindeditor-all.js"></script>
		<script src="assets/kindeditor-4.1.11-zh-CN/lang/zh-CN.js"></script>
		<!-- CUSTOM SCRIPTS -->
		<script src="assets/js/custom.js"></script>
		<script src="assets/js/common.js"></script>
		<script src="assets/js/link.js"></script>
		<script src="assets/js/vue.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#page-wrapper',
				data: {
					bannerList: [],
					ids:'',
					context:null,//内容
					display:'',//是否可见 1是0否
					headPic:'',//封面图
					homePage:'',//是否推荐到首页 1是0否
					name:'',
					sordOrder:'',//排序
					subheading:''//副标题
				},
				created() {
					let _this = this;
					_this.ids = window.location.href.split('=')[1];
					if(_this.ids != 'add') {
						$.ajax({
							url:  '/chamber/activity/' + _this.ids,
							type: 'GET',
							headers: {
								'Authorization': sessionid,
							},
							success: (res) => {
								_this.bannerList = res.data;
								_this.$nextTick(() => {
									// 设置HTML内容
									window.editor.html(_this.bannerList.context);
									_this.headPic = _this.bannerList.headPic;
									
									$('.logopath').val(_this.bannerList.headPic)
									$('#demo1').attr('src', _this.bannerList.headPic);
									_this.name = _this.bannerList.name;
									_this.sordOrder = _this.bannerList.sordOrder;
									_this.subheading = _this.bannerList.subheading;
								})
							}
						})
					}
					
				},
				mounted() {
					let _this = this;
					layui.use(['form','upload','laydate'], function() {
						var form = layui.form,
							layer = layui.layer,
							upload = layui.upload,
							laydate = layui.laydate;
							
							//日期时间选择器
							laydate.render({
								elem: '#startTime',
								type: 'datetime'
							});
							laydate.render({
								elem: '#endTime',
								type: 'datetime'
							});
		
						var uploadInst = upload.render({
							elem: '#uploadlogo',
							url:  '/upload/upload',
							headers: {
								'Authorization': sessionid
							},
							accept: 'images',
							choose: function(obj) {
		
								//将每次选择的文件追加到文件队列
								var files = obj.pushFile();
								//预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
								obj.preview(function(index, file, result) {
									console.log(file.name); //得到文件对象
									$('.logopath').val(file.name)
								});
							},
							before: function(obj) {
								//预读本地文件示例，不支持ie8
								obj.preview(function(index, file, result) {
									$('#demo1').attr('src', result); //图片链接（base64）
								});
							},
							done: function(res) {
								_this.headPic = res.data
							},
							error: function() {
								//演示失败状态，并实现重传
								var demoText = $('#demoText');
								demoText.html(
									'<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
								demoText.find('.demo-reload').on('click', function() {
									uploadInst.upload();
								});
							}
						});
						var uploadInst2 = upload.render({
							elem: '#uploadlogo2',
							url:  '/upload/upload',
							headers: {
								'Authorization': sessionid
							},
							accept: 'images',
							choose: function(obj) {
								
								//将每次选择的文件追加到文件队列
								var files = obj.pushFile();
								//预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
								obj.preview(function(index, file, result) {
									console.log(file.name); //得到文件对象
									$('.logopath2').val(file.name)
								});
							},
							before: function(obj) {
								//预读本地文件示例，不支持ie8
								obj.preview(function(index, file, result) {
									$('#demo2').attr('src', result); //图片链接（base64）
								});
							},
							done: function(res) {
								_this.log = res.data
							},
							error: function() {
								//演示失败状态，并实现重传
								var demoText = $('#demoText2');
								demoText.html(
									'<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
								demoText.find('.demo-reload').on('click', function() {
									uploadInst.upload();
								});
							}
						});
					})
		
					// 关闭过滤模式，保留所有标签
					KindEditor.options.filterMode = false;
					KindEditor.ready(function(K) {
						window.editor = K.create('#editor_id', {
							filePostName: "uploadFile",
							//这里就是指定文件上传的请求地址，上面也已经说了，upload_json.jsp就相当去一个servlet去进行保存文件，这个地方很重要
							uploadJson:  '/Kindeditor/uploadFile',
							resizeType: 1,
							allowPreviewEmoticons: true,
							allowImageUpload: true,
							afterBlur: function() {
								this.sync();
							}, //编辑器失去焦点(blur)时执行的回调函数（将编辑器的HTML数据同步到textarea）
							afterUpload: function(url, data, name) { //上传文件后执行的回调函数，必须为3个参数
								console.log(url)
								console.log(data)
							}
						});
					});
				},
				methods: {
					subs() {
						let _this = this;
						let v;
						
						let ajaxType;
						if(_this.ids == 'add') {
							ajaxType = 'POST'
							v = {
							  "context": "string",
							  "display": 0,
							  "headPic": "string",
							  "homePage": 0,
							  "name": "string",
							  "sordOrder": 0,
							  "subheading": "string",
							  "type": "string"
							}
						}else {
							ajaxType = 'PUT'
							v = _this.bannerList;
						}
						// 设置HTML内容
						v.context = window.editor.html();
						v.display = _this.$refs.display == 'on' ? 1 : 0;
						v.headPic = _this.headPic;
						v.homePage = _this.$refs.homePage == 'on' ? 1 : 0;
						v.name = _this.name;
						v.sordOrder = _this.sordOrder;
						v.subheading = _this.subheading;
						v.type = 1;
						
						$.ajax({
							url:  '/chamber/activity',
							type: ajaxType,
							contentType: 'application/json',
							headers: {
								'Authorization': sessionid,
							},
							dataType: 'json',
							data: JSON.stringify(v),
							success: (res) => {
								layer.msg(res.message)
								if (res.code == 10000) {
									setTimeout(function() {
										window.location.href = 'news-index.html'	
									}, 1200)
								}
							}
						})
					}
				}
			})
		</script>
</body>
</html>
