<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-商户</title>
	<meta name="Keywords" content="智汇玉龙,商户" />
	<meta name="Description" content="智汇玉龙商户" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="index.html"><i class="fa fa-desktop "></i><em>管理控制台</em></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-object-group "></i><em>收益管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="coin-detail.html"><em>收益明细</em></a>
							</li>
							<li>
								<a href="coin-show.html"><em>总收益展示</em></a>
							</li>
							<li>
								<a href="coin-recharge.html"><em>提现</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href=""><i class="fa fa-th-large "></i><em>商户公告</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="platform-notice.html"><em>公告展示</em></a>
							</li>
							<li>
								<a href="platform-banner.html"><em>banner展示</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href=""><i class="fa fa-home"></i><em>商铺</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="store-goods.html"><em>商品管理</em></a>
							</li>
							<li>
								<a href="store-kind.html"><em>商品分类管理</em></a>
							</li>
							<li>
								<a href="store-index.html"><em>商户管理</em></a>
							</li>
							<li>
								<a href="store-control.html"><em>商户管理员</em></a>
							</li>
						</ul>
					</li>
					<li class="active">
						<a href="order-before.html" class="active-menu"><i class="fa fa-tasks"></i><em>订单管理</em></a>
					</li>
				</ul>

			</div>

		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">订单管理</a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="col-md-12 page-block textalign-center th-textalign-center">
					<div class="panel panel-default">
						<div class="panel-heading textalign-left">
							<a class="btn btn-sm">订单</a>
							<div class="btn-group pull-right">
								<input type="number" class="searchid" id="" v-model="searchid" placeholder="按ID查询" />
								<button class="btn btn-blue btn-sm pull-right" @click="mysearch">确定</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th><input type="checkbox" name="" id="" value="" /></th>
										<th>ID</th>
										<!-- <th>地址ID</th> -->
										<!-- <th>商品ID</th> -->
										<th>下单时间</th>
										<!-- <th>完成时间</th> -->
										<th>数量</th>
										<th>订单状态</th>
										<!-- <th>买家留言</th> -->
										<!-- <th>支付时间</th> -->
										<th>快递费</th>
										<th>快递号</th>
										<th>发货时间</th>
										<th>总价格</th>
										<th>用户ID</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-if="!issearch" v-for="(item,index) in bannerList">
										<td><input type="checkbox" name="" id="" value="" /></td>
										<td>{{item.id}}</td>
										<!-- <td>{{item.addrId}}</td> -->
										<!-- <td>{{item.goodsId}}</td> -->
										<td>{{item.addtime}}</td>
										<!-- <td>{{item.finishtime}}</td> -->
										<td>{{item.num}}</td>
										<td>{{item.orderStatus | fOrder}}</td>
										<!-- <td><a class="btn btn-blue" @click="lookat(item.payMsg)">查看</a></td> -->
										<!-- <td>{{item.paytime}}</td> -->
										<td>{{item.shipPrice}}</td>
										<td>{{item.shipcode}}</td>
										<td>{{item.shiptime}}</td>
										<td>{{item.totalprice}}</td>
										<td>{{item.userId}}</td>
										<td>
											<a class="btn btn-blue btn-sm" @click="looks(item.orderId,item.orderStatus)">查看物流</a>
											<a class="btn btn-blue btn-sm" @click="looklook(item.addrId,item.goodsId,item.finishtime,item.payMsg,item.paytime)">订单详情</a>
											<a class="btn btn-blue btn-sm" @click="edit(item.id,item.storeId)">编辑</a>
											<a class="btn btn-blue btn-sm" @click="del(item.id)">删除</a>
										</td>
									</tr>
									<tr v-if="issearch">
										<td><input type="checkbox" name="" id="" value="" /></td>
										<td>{{searchList.id}}</td>
										<!-- <td>{{searchList.addrId}}</td> -->
										<!-- <td>{{searchList.goodsId}}</td> -->
										<td>{{searchList.orderId}}</td>
										<td>{{searchList.addtime}}</td>
										<!-- <td>{{searchList.finishtime}}</td> -->
										<td>{{searchList.num}}</td>
										<td>{{searchList.orderStatus | fOrder}}</td>
										<!-- <td><a class="btn btn-blue" @click="lookat(searchList.payMsg)">查看</a></td> -->
										<!-- <td>{{searchList.paytime}}</td> -->
										<td>{{searchList.shipPrice}}</td>
										<td>{{searchList.shipcode}}</td>
										<td>{{searchList.shiptime}}</td>
										<td>{{searchList.totalprice}}</td>
										<td>{{searchList.transport}}</td>
										<td>{{searchList.userId}}</td>
										<td>
											<a class="btn btn-blue btn-sm" @click="looks(searchList.orderId,searchList.orderStatus)">查看物流</a>
											<a class="btn btn-blue btn-sm" @click="looklook(searchList.addrId,searchList.goodsId,searchList.finishtime,searchList.payMsg,searchList.paytime)">订单详情</a>
											<a class="btn btn-blue btn-sm" @click="edit(searchList.id,searchList.storeId)">编辑</a>
											<a class="btn btn-blue btn-sm" @click="del(searchList.id)">删除</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div id="test1"></div>
						</div>
					</div>
				</div>

				<!-- /. PAGE INNER  -->
				<!-- 物流信息弹窗 -->
				<div class="pop displaynone" id="pop" style="box-sizing: border-box;padding: 15px;max-width: 100%;width: 500px;min-height: 200px;max-height: 600px;">
					<ul class="layui-timeline">
					  <li class="layui-timeline-item" v-for="(item,index) in msgs" v-if="">
					    <i class="layui-icon layui-timeline-axis"></i>
					    <div class="layui-timeline-content layui-text">
					      <h3 class="layui-timeline-title">{{item.AcceptTime}}</h3>
					      <p>{{item.AcceptStation}}</p>
					    </div>
					  </li>
					</ul>  
				</div>
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->

		<div id="footer-sec">
			<p>Copyright © 2020 几度互联版权所有</p>
		</div>

</body>
<script src="assets/js/jquery-1.10.2.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/layui/layui.all.js"></script>
<script src="assets/js/jquery.metisMenu.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/link.js"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: '#page-wrapper',
		data: {
			searchid: '',
			bannerList: [],
			issearch: false,
			searchList: null,
			editTxt: '',
			msgs:null,
			moreMsg:{}
		},
		created() {
			let _this = this;
			$.ajax({
				url:  '/business/order/findByStoreId/1/10',
				type: 'GET',
				headers: {
					'Authorization': sessionid,
				},
				success: (res) => {
					_this.bannerList = res.rows
					layui.use('laypage', function() {
						var laypage = layui.laypage;

						//执行一个laypage实例
						laypage.render({
							elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
								,
							count: res.total //数据总数，从服务端得到
								,
							jump: function(obj, first) {
								$.ajax({
									url:  '/business/order/findByStoreId/' + obj.curr + '/10',
									type: 'GET',
									headers: {
										'Authorization': sessionid,
									},
									success: (res) => {
										_this.bannerList = res.rows
									},
									fail: (res) => {}
								})
								//首次不执行
								// if(!first){
								//   //do something
								// }
							}
						});
					});
				},
				fail: (res) => {}
			})
		},
		filters: {
			fOrder(tys) {
				if (tys == 0) {
					return '待支付'
				} else if (tys == 1) {
					return '待发货'
				} else if (tys == 2) {
					return '待收货'
				} else if (tys == 3) {
					return '待评价'
				} else if (tys == 4) {
					return '申请退货'
				} else {
					return '已退货'
				}
			}
		},
		methods: {
			mysearch() {
				let _this = this;
				if (!_this.searchid) {
					_this.issearch = false
				} else {
					_this.issearch = true;
					$.ajax({
						url:  '/business/order/' + _this.searchid + '/',
						type: 'GET',
						headers: {
							'Authorization': sessionid,
						},
						success: (res) => {
							_this.searchList = res.data
						}
					})
				}
			},
			edit(ids, storeids) {
				window.location.href = "order-before-edit.html?id=" + ids
			},
			del(ids) {
				let _this = this;
				layer.confirm('确定删除吗？', {
				  btn: ['确定', '取消'] //可以无限个按钮
				}, function(index, layero){
				  //按钮【按钮一】的回调
				  $.ajax({
				  	url:  '/business/order/' + ids + '/',
				  	type: 'DELETE',
				  	headers: {
				  		'Authorization': sessionid,
				  	},
				  	success: (res) => {
				  		layer.msg(res.message)
				  		setTimeout(function() {
				  			window.location.reload()
				  		}, 1200)
				  	}
				  })
				}, function(index){
				  //按钮【按钮二】的回调
				  
				});
				return
				
			},
			looks(ids,stats) {
				// 查看物流
				let _this = this;
				var con;
				if(stats <= 1) {
					if(stats) {
						con = '待发货'
					}else {
						con = '待支付'
					}
					layer.open({
						type:1,
						tit:'物流信息',
						content:con,
						area:'auto',
						maxWidth:'device-width',
					})
				}else {
					$.ajax({
						url:  '/business/order/findLogisticsByOrderId/' + ids,
						type: 'GET',
						headers: {
							'Authorization': sessionid,
						},
						success: (res) => {
							if(!res.data) {
								layer.msg('暂无物流信息')
								return
							}
							_this.msgs = res.data.Traces;
							
							layer.open({
								type:1,
								title:'物流信息',
								content:$('#pop'),
								cancel:(res) => {
									$('.pop').hide()
								}
							})
						}
					})
				}
				
			},
			looklook(addrId,goodsId,finishtime,payMsg,paytime) {
				var divs = `<div class="block-con col-xs-12" id="moreMsg">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-2 col-xs-12">地址ID</span>
									<div class="col-md-10 col-xs-12">
										${addrId}
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-2 col-xs-12">商品ID</span>
									<div class="col-md-10 col-xs-12">
										${goodsId}
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-2 col-xs-12">完成时间</span>
									<div class="col-md-10 col-xs-12">
										${finishtime}
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-2 col-xs-12">买家留言</span>
									<div class="col-md-10 col-xs-12" v-html="${payMsg}">
										
									</div>
								</label>
								<label class="col-md-12 col-xs-12">
									<span class="col-md-2 col-xs-12">支付时间</span>
									<div class="col-md-10 col-xs-12">
										${paytime}
									</div>
								</label>
							</div>`;
				layui.use('layer',function() {
					var layer = layui.layer;
					
					layer.open({
						type:1,
						title:'更多信息',
						content:divs,
						area:'device-width'
					})
				})
			
			}
		}
	})
</script>
</html>
