<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-商户</title>
	<meta name="Keywords" content="智汇玉龙,商户" />
	<meta name="Description" content="智汇玉龙商户" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
				</ul>

			</div>

		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<!-- <h1 class="page-head-line">DASHBOARD</h1> -->
						<!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">商铺</a> > <a href="#">商品管理</a></a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row page SEOpage">
					<div class="col-md-12 page-tit">
						<p>商品管理</p>
					</div>

					<div class="col-md-12 page-block textalign-center th-textalign-center">
						<div class="panel panel-default">
							<div class="panel-heading textalign-left">
								<a class="btn btn-blue btn-sm" href="store-goods-edit.html?id=add">新增</a>
								<div class="btn-group pull-right">
									<input type="number" class="searchid" id="" v-model="searchid" placeholder="按ID查询商品" />
									<button class="btn btn-blue btn-sm pull-right" @click="mysearch">确定</button>
								</div>
							</div>
					
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th><input type="checkbox" name="" id="" value="" /></th>
											<th>ID</th>
											<!-- <th>添加时间</th> -->
											<th>运费</th>
											<th>商品图片</th>
											<th>新人专区</th>
											<th>市场价</th>
											<th>会员价</th>
											<th>商品名称</th>
											<th>是否上架</th>
											<!-- <th>商铺价格</th> -->
											<th>剩余数量</th>
											<th>总量</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-if="!issearch" v-for="(item,index) in bannerList">
											<td><input type="checkbox" name="" id="" value="" /></td>
											<td>{{item.id}}</td>
											<!-- <td>{{item.addtime}}</td> -->
											<td>{{item.goodsWeight}}</td>
											<td><a class="colorblue" @click="lookat(item.img,'img3')">【预览】</a></td>
											<td>{{item.isNew ? '是' : '否'}}</td>
											<td>{{item.markePrice}}</td>
											<td>{{item.memberPrice}}</td>
											<td>{{item.name}}</td>
											<td>{{item.onsale ? '下架' : '上架'}}</td>
											<!-- <td>{{item.saleNum}}</td> -->
											<td>{{item.surplusNum}}</td>
											<td>{{item.totalNum}}</td>
											<td>
												<a class="btn btn-blue btn-sm" @click="push(item.id,0)">推荐商品</a>
												<a class="btn btn-blue btn-sm" @click="edit(item.id,item.storeId)">编辑</a>
												<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(item.id)">删除</a>
											</td>
										</tr>
										<tr v-if="issearch">
											<td><input type="checkbox" name="" id="" value="" /></td>
											<td>{{searchList.id}}</td>
											<td>{{searchList.goodsWeight}}</td>
											<td>{{searchList.homePage ? '是' : '否'}}</td>
											<td><a class="colorblue" @click="lookat(searchList.img,'img3')">【预览】</a></td>
											<td>{{searchList.isNew ? '是' : '否'}}</td>
											<td>{{searchList.markePrice}}</td>
											<td>{{searchList.memberPrice}}</td>
											<td>{{searchList.name}}</td>
											<td>{{searchList.onsale ? '下架' : '上架'}}</td>
											<!-- <td>{{searchList.saleNum}}</td> -->
											<td>{{searchList.surplusNum}}</td>
											<td>{{searchList.totalNum}}</td>
											<td>
												<a class="btn btn-blue btn-sm" @click="edit(searchList.id,searchList.storeId)">编辑</a>
												<a class="btn btn-blue btn-sm" href="javascript:;" @click="del(searchList.id)">删除</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div id="test1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- /. PAGE INNER  -->
			<div class="popedit displaynone" id="popedit">
				<textarea name="" id="" style="width: 500px;height: 200px;max-width: 100%;" v-model="editTxt"></textarea>
			</div>
			
			<div class="displaynone" style="max-width:500px;max-height:600px;overflow:auto;" id="popimg">
				<img v-for="item in imgList" :src="item" style="max-width:200px;margin: 10px;"/>
			</div>
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->

	<div id="footer-sec">
		<p>Copyright © 2019 智汇玉龙版权所有</p>
	</div>

</body>
<script src="assets/js/jquery-1.10.2.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/layui/layui.all.js"></script>
<script src="assets/js/jquery.metisMenu.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/link.js"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: '#page-wrapper',
		data: {
			searchid: '',
			bannerList: [],
			issearch: false,
			searchList: null,
			editTxt:'',
			imgList:[]
		},
		created() {
			this.load()
		},
		filters:{
			ftype(tys){
				if(tys == 0) {
					return '普通'
				}else if(tys == 1){
					return '平台自营'
				}else if(tys == 2) {
					return '家乡特产'
				}else if(tys == 3){
					return '礼包专区'
				}else {
					return '新人专区'
				}
			}
		},
		methods: {
			load() {
				
				let _this = this;
				
				$.ajax({
					url:  '/business/goods/1/10',
					type: 'GET',
					headers: {
						'Authorization': sessionid,
					},
					success: (res) => {
						_this.bannerList = res.rows
						layui.use('laypage', function(){
						  var laypage = layui.laypage;
						  
						  //执行一个laypage实例
						  laypage.render({
						    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
						    ,count: res.total //数据总数，从服务端得到
							,jump: function(obj, first){
							    $.ajax({
							    	url:  '/business/goods/'+obj.curr+'/10',
							    	type: 'GET',
							    	headers: {
							    		'Authorization': sessionid,
							    	},
							    	success: (res) => {
							    		_this.bannerList = res.rows
							    	},
							    	fail:(res) => {
							    	}
							    })
							    //首次不执行
							    // if(!first){
							    //   //do something
							    // }
							  }
						  });
						});
					},
					fail:(res) => {
					}
				})
			},
			mysearch() {
				let _this = this;
				if (!_this.searchid) {
					_this.issearch = false
				} else {
					_this.issearch = true;
					$.ajax({
						url:  '/business/goods/' + _this.searchid,
						type: 'GET',
						headers: {
							'Authorization': sessionid,
						},
						success: (res) => {
							_this.searchList = res.data
						}
					})
				}
			},
			push(ids) {
				let _this = this;
				let types = localStorage.getItem('storeType');
				// POST /business/recommendGoods/{goodsId}/{type}
				$.ajax({
					url:  '/business/recommendGoods/' + ids + '/' + types,
					type: 'POST',
					headers: {
						'Authorization': sessionid,
					},
					success: (res) => {
						layer.msg(res.message)
						setTimeout(function(){
							_this.load()
						},1200)
					}
				})
			},
			edit(ids,storeids) {
				window.location.href = "store-goods-edit.html?id=" + ids;
			},
			del(ids) {
				let _this = this;
				$.ajax({
					url:  '/business/goods/' + ids,
					type: 'delete',
					headers: {
						'Authorization': sessionid,
					},
					success: (res) => {
						layer.msg(res.message)
						setTimeout(function(){
							window.location.reload()
						},1200)
					}
				})
			},
			lookat(cons,tys) {
				let _this = this;
				if(!cons) {
					layer.msg('查看的内容为空')
					return
				}
				if(tys == 'img3') {
					if(cons.split(' ').length) {
						cons.split(' ').forEach(function(i){
							if(i) {
								_this.imgList.push(i)
							}
						})
						
						layui.use('layer',function() {
							var layer = layui.layer;
							
							layer.open({
								type:1,
								title:'图片',
								content:$('#popimg'),
								area:'device-width',
								cancel:function() {
									$('#popimg').hide()
									_this.imgList = []
								}
							})
						})
					}
				}
			}
		}
	})
</script>
</html>
