<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>智汇玉龙-商户</title>
	<meta name="Keywords" content="智汇玉龙,商户" />
	<meta name="Description" content="智汇玉龙商户" />

	<!-- BOOTSTRAP STYLES-->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/layui/css/layui.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="assets/css/custom.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class="logoimg" src="assets/img/logo.png" alt="">
					<img class="logotxt" src="assets/img/logo-text.png" alt="">
				</a>
			</div>
			<div class="header-left">
				<i class="fa fa-outdent"></i>
			</div>
			<div class="header-right">

				<a class="btn btn-sm btn-blue layui-btn-radius" href="javascript:;">账号：jidu123</a>
				<a href="javascript:;"><img src="assets/img/home.png"></a>
				<a href="javascript:;"><img src="assets/img/home02.png"></a>
				<a href="javascript:;"><img src="assets/img/home-return.png"></a>

			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="index.html"><i class="fa fa-desktop "></i><em>管理控制台</em></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-object-group "></i><em>收益管理</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="coin-detail.html"><em>收益明细</em></a>
							</li>
							<li>
								<a href="coin-show.html"><em>总收益展示</em></a>
							</li>
							<li>
								<a href="coin-recharge.html"><em>提现</em></a>
							</li>
						</ul>
					</li>
					<li>
						<a href=""><i class="fa fa-th-large "></i><em>商户公告</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="platform-notice.html"><em>公告展示</em></a>
							</li>
							<li>
								<a href="platform-banner.html"><em>banner展示</em></a>
							</li>
						</ul>
					</li>
					<li class="active">
						<a href=""><i class="fa fa-home"></i><em>商铺</em><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="store-goods.html"><em>商品管理</em></a>
							</li>
							<li>
								<a class="active-menu" href="store-kind.html"><em>商品分类管理</em></a>
							</li>
							<li>
								<a href="store-index.html"><em>商户管理</em></a>
							</li>
							<li>
								<a href="store-control.html"><em>商户管理员</em></a>
							</li>
						</ul>
					</li>
					<li class="">
					    <a href="order-before.html" class=""><i class="fa fa-tasks"></i><em>订单管理</em></a>
					</li>
				</ul>
		
			</div>
		
		</nav>

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">

				<div class="row">
					<div class="col-md-12 nav-topdown">
						<!-- <h1 class="page-head-line">DASHBOARD</h1> -->
						<!-- <h1 class="page-subhead-line"></h1> -->
						<p class="nav-cls-topdown">您当前的位置：<a href="index.html">首页</a> > <a href="#">商铺</a> > <a href="store-kind.html">商品分类</a>
							> <a href="#">添加商品分类</a></p>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row page">
					<div class="col-md-12 page-tit">
						<p>基础设置</p>
					</div>

					<div class="col-md-12 page-block">
						<form class="row layui-form" action="">

							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">名称</span>
									<div class="col-md-10_5 col-xs-12">
										<input type="text" class="form-control col-md-5" v-model="name" />
									</div>
									
								</label>

							</div>
							<div class="block-con layui-form-item col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12">一级分类</span>
									<div class="layui-input-block col-md-10_5 col-xs-12">
										<select name="type" lay-filter="" lay-verify="" ref="type">
											<option value="0" selected="">普通</option>
											<option value="1">平台自营</option>
											<option value="2">家乡特产</option>
											<option value="3">礼包专区</option>
											<option value="4">新人专区</option>
										</select>
									</div>
								</label>
							</div>

							<div class="block-con col-xs-12">
								<label class="col-md-12 col-xs-12">
									<span class="col-md-1_5 col-xs-12"></span>
									<div class="col-md-10_5 col-xs-12">
										<input class="btn btn-sm btn-blue" type="button" value="提交" @click="subs" />
									</div>
								</label>
							</div>

						</form>
					</div>
				</div>

				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->

		<div id="footer-sec">
			<p>Copyright © 2019 几度CMS版权所有</p>
		</div>
		<!-- /. FOOTER  -->
		<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
		<!-- JQUERY SCRIPTS -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		<!-- BOOTSTRAP SCRIPTS -->
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/layui/layui.all.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="assets/js/jquery.metisMenu.js"></script>
		<!-- CUSTOM SCRIPTS -->
		<script src="assets/js/custom.js"></script>
		<script src="assets/js/common.js"></script>
		<script src="assets/js/link.js"></script>
		<script src="assets/js/vue.js"></script>
		<script type="text/javascript">

		</script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#page-wrapper',
				data: {
					name:'',
					type:0
				},
				created() {
					
				},
				mounted() {
					layui.use(['form', 'laydate'], function() {
						var form = layui.form,
							layer = layui.layer,
							laydate = layui.laydate;
						
						form.render();
					})
				},
				methods: {
					subs() {
						let _this = this;
						_this.type = _this.$refs.type.value;
						if (!_this.name || !_this.type) {
							layer.msg('请输入需要的信息')
							return
						}
						let v = {
							"name": _this.name,
							"type": _this.type
						}
						$.ajax({
							url: myurl + '/business/goodsType',
							type: 'POST',
							contentType: 'application/json',
							headers: {
								'Authorization': sessionid,
							},
							dataType: 'json',
							data: JSON.stringify(v),
							success: (res) => {
								layer.msg(res.message)
								// if(res.code == 10000) {
								// 	setTimeout(function() {
								// 		window.location.href = 'store-kind.html'
								// 	},1200)
								// }
							},
							fail: (err) => {
								layer.msg(err.message)
							}
						})
					}
				}
			})
		</script>
</body>
</html>
